<div>
    <div id='authenticationModal' class='modal  modal-fixed-footer white' style="height: 60%; width: 40%">
        <div class='modal-content'>
            <div class="row">
                <ul class="tabs" style="font-size: 18px" >
                    <li class="tab col s4">
                        <a  class="custom-tab" href="#signIn">Sign in</a>
                        <div style="left: 0px; right: 50%" class="indicator custom"></div></li>
                    <li class="tab col s4">
                        <a  class="custom-tab" href="#register">Register</a></li>
                </ul>
                <div id="signIn">
                    <form name="signInForm" ng-keypress = "keyPress($event)">
                        <div class='section'>
                            <div class='input-field col s6'>
                                <input pattern=".{0,16}" ng-model='signInUsername' id='signInUsername' type='text' class='validate' required>
                                <label for='signInUsername'>Username</label>
                            </div>

                            <div class='input-field col s6'><input ng-model='signInPassword' id='signInPassword' type='password' class='validate' required>
                                <label for='signInPassword'>Password</label>

                            </div>
                            <div class="row">
                                <div class='col s6 offset-s3'> <a ng-class="{disabled : signInForm.$invalid}" ng-click='signIn()' class='publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text'>
                                    <i class='material-icons publication-schema-button-icon right white-text'>person</i>Sign in</a>
                                </div>
                                <!-- Facebook authentication: This no longer work, needs to be fixed.
                                <div class='col s6 offset-s3'> <a href="/auth/facebook" class='publication-schema-button right waves-effect waves-light remove-shadow btn white-text' style="background-color: #3b5998">
                                    Sign in with Facebook</a>
                                </div>
                                -->
                            </div>
                        </div>
                    </form>
                </div>
                <div id="register">
                    <div class="section">
                        <form name="registerForm">
                            <div class="row">
                                <div class='input-field col s6'>
                                    <input pattern=".{0,16}" ng-model='registerUsername' placeholder='(maximum 16)' id='registerUsername' type='text' class='validate' required>
                                    <label data-error="username length: 1-16" class='active' for='registerUsername'>Username</label>
                                </div>
                                <div class='input-field col s6'>
                                    <input pattern=".{6,50}" ng-model='registerPassword' placeholder='(minimum 6)' id='registerPassword' type='password' class='validate' required>
                                    <label data-error="password length: minimum 6" class='active' class='active' for='registerPassword'>Password</label>
                                </div>
                                <div class="row"></div>
                                <div ng-hide="ongoingRegistrations" class='col s4 offset-s4'> <a ng-class="{disabled : registerForm.$invalid}" ng-click='register()' class='publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text'>
                                    <i  class='material-icons publication-schema-button-icon right white-text'>person_add</i>Register</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class='modal-footer blue-grey lighten-2'>
            <div class='row no-margin-bottom'>
                <div class="col l9 white-text"><p>{{logInValidationMessage}}</p></div>
                <div class='col l3'> <a class='right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text'>
                    <i class='material-icons publication-schema-button-icon right white-text'>close</i>cancel</a></div>

            </div>
        </div>
    </div>

    <div id='logoutModal' class='modal modal-fixed-footer' style="max-height: 30%;">
        <div class='modal-content'>
            <div class="row">
                <p class="card-text-blue flow-text" style="font-weight: 400">Would you like to sign out?</p>
            </div>

        </div>
        <div class='modal-footer blue-grey lighten-2'>
            <div class='row no-margin-bottom'>
                <div class='col s4 offset-s2'>
                    <a class='right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text'>
                        <i class='material-icons publication-schema-button-icon right white-text'>close</i>cancel</a>
                </div>
                <div class='col s4'> <a ng-click='logout()' class='publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text'>
                    <i class='material-icons publication-schema-button-icon right white-text'>send</i>sign out</a>
                </div>
            </div>
        </div>
    </div>
