<!DOCTYPE html>
<html ng-app="app" style="margin:0;padding:0;">
<head>
    <meta charset="UTF-8">
    <title>Open Access Search Engine</title>
    <meta name="description" content="OAsearch is a search engine for scholarly open access papers, where users themselves are enabled to curate and populate the collection of indexed papers." />

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/Materialize/bin/materialize.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/angular-tooltips/dist/angular-tooltips.min.css" />
    <!-- endbower -->

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-img-http-src/index.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/Materialize/bin/materialize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-tooltips/lib/angular-tooltips.js"></script>
    <script src="bower_components/angularUtils-disqus/dirDisqus.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <!-- endbower -->

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="app/style.css">

    <script src="app/app.js"></script>
    <script src="app/main/main.js"></script>
    <script src="app/main/index.js"></script>
    <script src="app/profile/profile.js"></script>
    <script src="app/features/features.js"></script>
    <script src="app/publication/publication.js"></script>
    <script src="app/verification/verification.js"></script>
    <script src="app/flags/flags.js"></script>
    <script src="app/add_publication/add_publication.js"></script>
    <script src="app/modify_metadata/modify_metadata.js"></script>
    <script src="app/auth/auth.js"></script>
    <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
</head>

<body ng-controller="IndexCtrl" class="blue-grey lighten-2">

<!-- The navbar on top-->
<ul id="dropdown1" class="dropdown-content">
    <li ng-if="userStats.game.level >= 1"><a ng-click="goToAddPublication()">Add a paper </a></li>
    <li class="divider"></li>
    <li ng-if="userStats.game.level >= 4"><a ng-click="goToVerificationList()" >Verify / reject papers</a></li>
    <li class="divider"></li>
    <li ng-if="userStats.game.level >= 6"><a ng-click="goToFlagList()" >View flagged papers</a></li>
    <li class="divider"></li>
</ul>
<ul id="helpDropdown" class="dropdown-content">
    <li><a ng-click="openInclusionGuidelines()">Paper inclusion guidelines</a></li>
    <li class="divider"></li>
    <li><a ui-sref="features" >All features</a></li>
    <li class="divider"></li>
    <li ng-if="userStats.game.level >= 1"><a ui-sref="profile" >My stats</a></li>
    <li class="divider"></li>
</ul>

<div class="navbar-fixed" id="navbarID">
    <nav>
        <div class="blue-grey lighten-2 lighten-1 nav-wrapper">

            <div class="row">
                <div class="col l1">
                    <a ui-sref="home" class="brand-logo center">OASearch.com
                        <span class="white-text" style="font-size: 11px"><span class="hide-on-med-and-down"> - a crowdsourced collection of OA scholarly papers</span></span> </a>
                </div>
                <ul ng-if="userStats.game.level >= 1">
                    <li><a ng-click="openContributionMenu()" class="dropdown-button" data-beloworigin="true" data-constrainwidth="false" data-activates="dropdown1">Contribute to OASearch<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                <ul class="right nav-mobile walign-wrapper">
                    <li><a class="dropdown-button" data-beloworigin="true" data-constrainwidth="false" data-alignment="right" data-activates="helpDropdown">Info<i class="material-icons right">arrow_drop_down</i></a></li>

                    <li><login-button></login-button></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="row">

    <!-- State provider injects content here -->
    <div class="col l10 s12">
        <div ui-view></div>
    </div>

    <!-- Right side panel: Displaying two different cards depending on user being signed in -->
    <div class="col l2 hide-on-small-only" style="padding-left: 0px; padding-right: 0px">

        <!-- Panel when user is signed in -->
        <div class="row" ng-if='userStats.game.level != 0'>
            <div class="col l12" style="padding-left: 0px">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <div class="row">
                            <div class="col l12" style="padding-left: 0px; padding-right: 0px">
                                <div class="col l12">
                                    <h5 class="center-align">Your progress</h5>
                                </div>
                                <div class="col l12">
                                    <p class="center-align">Level {{userStats.game.level}} | {{userStats.game.points}} points</p>
                                </div>
                                <div style="padding-bottom: 10px; border-bottom: 1px solid rgb(99, 120, 130);" class="col l12">
                                    <p class="center-align"> {{userStats.game.points}}/ {{userStats.game.nextLevelRequires}} points</p>
                                </div>
                                <row>
                                    <div style="padding-bottom: 0px; padding-top: 10px" class="col l6"><p>Lvl: {{userStats.game.level}}</p></div>
                                    <div style="padding-bottom: 0px; padding-top: 10px" class="col l6 right-align">Next lvl: {{userStats.game.level + 1}}</div>
                                </row>
                                <div  class="col l12 progress" style="margin-bottom: 5px; margin-top: 0px">
                                    <div id="progression" class="determinate" ng-style="{'width' : userStats.game.progressToNextLevel + '%'}" ></div>
                                </div>

                                <row >
                                    <div style=" padding-bottom:10px; border-bottom: 1px solid rgb(99, 120, 130);" class="col l12"><p>Next unlock: <span style="cursor: pointer" ui-sref="features" class="card-link lighten-2">{{userStats.game.nextUnlock}}</span></div>
                                </row>
                                <div class="col l8 offset-l2" style="border-bottom: 1px solid rgba(49, 148, 197, 0.59);margin-top: 15px"><p style="font-size: 18px" class="center-align">Latest points earned</p> </div>
                                <div class="col l12">
                                    <ul style="margin-bottom: 0px; margin-top: 5px">
                                        <li ng-repeat="event in userStats.game.eventText.slice(length(userStats.game.eventText) - 5, length(userStats.game.eventText)).reverse() track by $index | limitTo: 5" style="margin-bottom: 10px">
                                            <p style=" font-size: 15px; padding-bottom: 5px; border-bottom: 1px solid rgba(160, 160, 160, 0.2);">{{event}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-action" style="border-top: 1px solid rgba(49, 148, 197, 0.59)">
                            <ul>
                                <li style="margin-bottom: 10px">
                                    <a ui-sref="profile">View all stats</a>
                                </li>
                                <li>
                                    <a ui-sref="features">How do i earn more points?</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Panel when user is not signed in -->
        <div class="row" ng-if='userStats.game.level == 0'>
            <div class="col l12" style="padding-left: 0px">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <div class="row">
                            <div class="col l12" style="padding-left: 0px; padding-right: 0px">
                                <div class="col l12">
                                    <h5 class="left-align">Register to track your contributions, progress through levels and gain privileges!</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-action" style="border-top: 1px solid rgba(49, 148, 197, 0.59); padding-bottom: 5px">
                            <ul style="margin-bottom: 0px; margin-top: 0px">
                                <li>
                                    <a ui-sref="features">What can i do once registered?</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="page-footer blue-grey lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l12 s12">
                <h5 class="white-text"></h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col l4">
                    <a class="grey-text text-lighten-4 right" href="#!">Terms of use</a>
                </div>
                <div class="col l4">
                    <a class="grey-text text-lighten-4 right" href="#!">Privacy policy</a>
                </div>
                <div class="col l4">
                    <a class="grey-text text-lighten-4 right"  href="#!">About us</a>
                </div>
            </div>

        </div>
    </div>
</footer>

<!-- Generic modal mainly used to display events on user being awarded points -->
<div id='eventModal' class='modal modal-fixed-footer' style="width: 60%; height: 60%">
    <div class='modal-content blue-grey darken-2' style="padding-top: 0px; padding-bottom: 0px">
        <div class="row">
            <div class="col l12">
                <p style="font-size: 30px; border-bottom: 1px solid rgba(49, 148, 197, 0.59)" class="white-text center-align">{{eventTitle}}</p>
            </div>
            <div class="col l12">
                <p class="white-text flow-text">{{eventMessage}}</p>
            </div>
            <div class="col l12">
                <p class="flow-text center-align" style="color: #ffab40;">{{eventPoints}} points awarded!</p>
            </div>
            <div class="col l6 offset-l6">
            </div>
        </div>
    </div>
    <div class='modal-footer blue-grey lighten-2'>
        <div class='row no-margin-bottom'>
            <div class="col s3 offset-l9">
                <a class=' right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text'>
                    <i class=' material-icons publication-schema-button-icon right white-text'>mood</i>Got it!</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal user to notify user on reaching a new level -->
<div id='levelUpModal' class='modal modal-fixed-footer' style="width: 55%; height: 55%">
    <div class='modal-content blue-grey darken-2' style="padding-top: 0px; padding-bottom: 0px">
        <div class="row">
            <div class="col l12">
                <p style="font-size: 30px; border-bottom: 1px solid rgba(49, 148, 197, 0.59)" class="white-text center-align">You leveled up!</p>
            </div>
            <div class="col l12">
                <p class="white-text flow-text center-align">Congratulation, you just reached level {{newLevel}}</p>
            </div>
            <div class="col l12">
                <p class="flow-text center-align" style="color: #ffab40;">You unlocked:</p>
                <p class="flow-text left-align white-text">{{newLevelUnlock}}</p>
            </div>
        </div>
    </div>
    <div class='modal-footer blue-grey lighten-2'>
        <div class='row no-margin-bottom'>
            <div class="col s3 offset-l9">
                <a class=' right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text'>
                    <i class=' material-icons publication-schema-button-icon right white-text'>mood</i>Got it!</a>
            </div>
        </div>
    </div>
</div>
<login-modal></login-modal>

<!--Modal with guidelines for inclusion -->
<div id='inclusionGuidelines' class='modal modal-fixed-footer' style="width: 75%">
    <div class='modal-content blue-grey darken-2' style="padding-top: 0px; padding-bottom: 0px">
        <div class="row">
            <div class="col l12">
                <p style="font-size: 30px; border-bottom: 1px solid rgba(49, 148, 197, 0.59)" class="white-text center-align">Requirements for inclusion:</p>
            </div>
            <div class="col l12">
                <ul>
                    <li class="">
                        <p class="white-text flow-text"><span style="font-weight: 500">1. Open Access:</span> Only open access papers are eligible for inclusion. Make sure that the link to the paper you are reviewing / adding is accessible regardless of being connected through any university or institutional networks. <a target="_blank" href="https://en.wikipedia.org/wiki/Open_access" class="card-link">Open Access<i class="material-icons small">open_in_new</i></a></p>
                    </li>
                    <li>
                        <p class="white-text flow-text"><span style="font-weight: 500">2. Peer-reviewed:</span> Only scholarly peer-reviewed papers are eligible for inclusion. This is to ensure only serious and quality controlled papers are included. <a target="_blank" href="https://en.wikipedia.org/wiki/Scholarly_peer_review" class="card-link">Peer review<i class="material-icons small">open_in_new</i> </a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class='modal-footer blue-grey lighten-2'>
        <div class='row no-margin-bottom'>
            <div class="col s3 offset-l9">
                <a class=' right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text'>
                    <i class=' material-icons publication-schema-button-icon right white-text'>mood</i>Got it!</a>
            </div>
        </div>
    </div>
</div>
<login-modal></login-modal>

</body>
</html>