<!-- Card for stating that publication has not been verified -->
<div class="row ">
    <div class="col s12 l10 offset-l1">
        <div style="margin-bottom: 0px" ng-if="publication.verified == false" class="card blue-grey darken-1">
            <div class="card-content white-text">
                <h5 class="center-align">Not yet verified</h5>
                <p  class="center-align" style="margin-bottom: 10px">This paper must be verified by a separate user from the one who submitted it, before is is displayed when searching.</p>
                <div class="row">
                    <div ng-if="gameUser.game.level >= 3" class="col l4 offset-l4">
                        <a ng-click="goToVerificationList()" class='waves-effect waves-light remove-shadow btn blue-grey lighten-2 white-text'>
                            <i class='material-icons right white-text'>done</i>verify papers</a>
                    </div>
                    <div ng-show="(gameUser.username != publication.versions[0].user) && (gameUser.game.level >= 4)" class="col l4">
                        <a ng-click="verifyPublication()" class=' waves-effect waves-light remove-shadow btn blue-grey lighten-2 white-text'>
                            <i class='material-icons right white-text'>done</i>verify this paper</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Card for displaying flag events -->
    <div class="col s12 l10 offset-l1">
        <div style="margin-bottom: 0px" ng-if="publication.flagged == true" class="card blue-grey darken-1">
            <div class="card-content white-text">
                <h5 ng-if="activeFlags >= 1" class="center-align">This paper has been flagged for moderation.</h5>
                <h5 ng-if="activeFlags < 1" class="center-align">This paper has {{previousFlags}} previous flags.</h5>
                <div class="switch">
                    <label>
                        <input ng-model="disableFilter" type="checkbox">
                        <span class="lever"></span>
                        Show flags that are already resolved
                    </label>
                </div>
                <table class="bordered">
                    <thead>
                    <tr>
                        <th> <h5>Type of flag</h5></th>
                        <th ><h5>Reason</h5></th>
                        <th ><h5>Resolved?</h5></th>
                    </tr>
                    </thead>
                    <tbody >

                    <tr ng-repeat="flagEvent in publication.flagEvents.slice().reverse() | filter: (!disableFilter || '') && {resolved : false} " style="border-bottom: 1px solid rgba(160, 160, 160, 0.2)">
                        <td><p>{{flagEvent.type}}</p>
                            <p>{{flagEvent.user}}, {{flagEvent.date}}</p>
                        </td>
                        <td>{{flagEvent.text}}</td>
                        <td ng-if="gameUser.game.level >= 6 && (flagEvent.resolved == false)">
                            <a ng-click="openRemoveFlagModal(flagEvent._id)" class='waves-effect waves-light remove-shadow btn blue-grey lighten-2 white-text'>
                                <i class='material-icons right white-text'>highlight_off</i>Remove flag</a>
                        </td>
                        <td ng-if="gameUser.game.level <= 6 && (flagEvent.resolved == false)">
                            <p>Unresolved</p>
                        </td>
                        <td ng-if="gameUser.game.level <= 6 && (flagEvent.resolved == true)">
                            <p>Resolved</p>
                        </td>
                        <td ng-if="gameUser.game.level >= 6 && (flagEvent.resolved == true)">
                            <p>Resolved</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row" style="margin-bottom: 0px">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="no-padding-left no-padding-right">
    <div class="card white" style="margin-bottom: 8px" >
        <div class="card-content publication-card-bottom-border blue-grey lighten-5" style="padding-bottom: 5px" >
            <div class="col s12">
                <div style="margin-bottom: 5px" class="center">
                    <a style="display: inline; font-size: 18px" target="_blank" href={{topVersion.link}} ng-bind-html="publication.publication_title" class="blue-grey-text title"></a>
                    <i class="material-icons blue-grey-text tiny">open_in_new</i>
                </div>
            </div>
            <div class="row" style="margin-bottom: 0px">
                <div class="col s2">
                    <p style="margin-bottom: 5px" class="sub-title center-align">Publicity / citations</p>
                    <p ng-if="publication.doi == ''"><i>No DOI registered, not able to retrieve data</i></p>
                    <div>
                        <div class="center-align">
                            <div data-badge-popover="right" data-badge-type="donut" data-doi={{publication.doi}} class="altmetric-embed"></div>
                        </div>
                        <div ng-show="citationCount != undefined" class="center-align" style="margin-top: 10px">
                            <a tooltips tooltip-template="Citations registered in Scopus" href="http://www.scopus.com/inward/citedby.url?partnerID=HzOxMe3b&amp;scp=79960866967" style="margin-top: 5px" class="chip blue-grey lighten-2 white-text">Citations: {{citationCount}}</a>                        </div>
                    </div>
                </div>
                <div class="col s10 add-border-left">
                    <div class="col s9" style="padding-bottom: 5px; font-size: 17px">
                        <p class="sub-title">Key metadata</p>
                        <span class="card-text-blue">Journal, year:</span> {{publication.journal_title}}, {{publication.year}}
                        <br><span class="card-text-blue">Publisher: </span>  {{publication.publisher}}
                        <br><span class="card-text-blue">Authors:</span> {{publication.authors}}
                    </div>
                    <div class="col s3 add-border-left" style="font-size: 16px">
                        <p class="sub-title">Highest rated version</p>
                        <span class="card-text-blue">Included:</span> {{topVersion.date_added}}
                        <br><span class="card-text-blue">Type:</span><span ng-if="(topVersion.type != '' || topVersion.type != undefined)"> {{topVersion.type}}</span><span ng-if="(topVersion.type == '' || topVersion.type == undefined)"> (unknown)</span>
                        <br><span class="card-text-blue">Added by user:</span> {{topVersion.user}}
                        <br>
                    </div>
                    <div class="col s9 " style="padding-left: 0px; padding-right: 0px">
                        <div ng-if="gameUser.game.level >= 2" class="col l4">
                            <a  ng-click='goToModifyMetadata()' class='right waves-effect waves-light remove-shadow btn publication-schema-button blue-grey white-text'>
                                <i class='material-icons publication-schema-button-icon right white-text'>edit</i>Edit metadata</a>
                        </div>
                        <div ng-if="gameUser.game.level >= 3" class="col l4">
                            <a class='dropdown-button btn remove-shadow blue-grey' data-beloworigin="true" data-activates='flagDropdown'>
                                <i class='material-icons publication-schema-button-icon right white-text'>flag</i>
                                Flag paper
                            </a>
                            <ul id='flagDropdown' class='dropdown-content'>
                                <li>
                                    <a ng-click='openFlagForModerationModal()'>
                                        <i class="material-icons right">flag</i>
                                        Flag for moderation
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li><a ng-click ="showFlags()"><i class="material-icons right">history</i> Show previous flags</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col s3" style="padding-left: 0px; padding-right: 0px">
                        <div class="col l10 offset-l1">
                            <div ng-if="gameUser.game.level >= 2"> <add-version/> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-margin-bottom">
            <div class="col l12">
                <ul class="collapsible z-depth-0 no-margin-bottom remove-borders blue-grey-text" ng-click="changeIcon()" data-collapsible="accordion z-depth-0">
                    <li>
                        <div class="collapsible-header"><i class="material-icons icon-remove-margin-right">{{collapsibleIcon}}</i>Preview abstract</div>
                        <div class="collapsible-body black-text padd-all-sides" ng-bind-html="publication.abstract" style="border-bottom: 0"><p></p></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class=" col s12 l12 no-padding-left no-padding-right">
    <div class="card white" style="padding-bottom: 1px;" >
        <div class="card-content no-padding-bottom" >
            <div class="row">
                <div class="col s12">
                    <ul class="tabs" style="font-size: 20px;">
                        <li class="tab col s4"><a class="custom-tab" href="#alternativeVersions">Alternative versions</a></li>
                        <li class="tab col s4"><a class="custom-tab" href="#allMetadata">All available metadata</a></li>
                        <li class="tab col s4"><a class="custom-tab" href="#social">Discussion</a></li>
                    </ul>
                </div>
            </div>
            <div style="margin-right: 20px; margin-left: 20px;">
                <div id="alternativeVersions">
                    <div class="row">
                        <div class="col l12">
                            <p style="font-size: 16px; color: #364850">Papers are published in various versions (drafts, preprints, postprints, publishers' versions),
                                with varying quality on different locations on the internet (sources). We want to collect these and ensure that people can find the best version / source of each paper.
                                As a user, you are enabled to contribute by adding such versions / sources (level 2 required), and cast your vote for the one you think has the overall
                                highest quality. The highest rated version / source of a paper is displayed by default when shown as a result of a search.</p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="input-field col s3 no-margin-top">
                            <select ng-model ="selectOrder" class="browser-default grey-text">
                                <option value="" disabled selected>Sort on:</option>
                                <option value="-voteSum">Highest rating</option>
                                <option value="-date_added">Most recently added</option>
                            </select>
                        </div>
                        <div class="input-field col s3 no-margin-top">
                            <i class="material-icons prefix blue-grey-text" style="padding-top: 10px; padding-left: 10px; ">search</i>
                            <input ng-model ="filterBox" placeholder="filter" id="0" type="text">
                        </div>
                        <div ng-if="gameUser.game.level >= 2" class="col s3 right">
                            <add-version/>
                        </div>
                        <div class="row">
                            <ul class="no-margin-bottom">
                                <div class="col l12 no-padding-left no-padding-right">
                                    <li>
                                        <div class="card-panel card-version col s12" ng-repeat="version in publication.versions
                                            | filter:filterBox:version.link | filter:version.type | filter:filterBox:version.date_added
                                            | orderBy:selectOrder">
                                            <div class="row no-margin-bottom" id="{{$index}}">
                                                <div class="col l9">
                                                    <div class="left" style="padding-top: 5px; font-size: 16px">
                                                        <a target="_blank" href={{version.link}} class="blue-grey-text title">Open this version of the paper<i class="material-icons icon-link blue-grey-text tiny">open_in_new</i></a>
                                                        <br><span  class="card-text-blue">Type of version: </span><span ng-if="version.type != ''" class="grey-text text-darken-2">{{version.type}}</span><span ng-if="version.type == ''" class="grey-text text-darken-2">(not specified by user)</span>
                                                        <br><span class="card-text-blue">Date added, added by: </span><span class="grey-text text-darken-2">{{version.date_added}}, {{version.user}}</span>
                                                        <br><span class="card-text-blue">URL to this version: </span><span class="grey-text text-darken-2">{{version.link}}</span>
                                                    </div>
                                                </div>

                                                <div class="col l3 add-border-left no-padding-right">
                                                    <vote-button pub="publication" pid="publication._id" vid="version._id" type="'upvote'" />
                                                    <br><vote-button pub="publication" pid="publication._id" vid="version._id" type="'downvote'" />
                                                    <p class="center grey-text text-darken-2" style="font-size: 12px; margin-bottom: 0px">{{version.upvoting_users.length}} upvote(s), {{version.downvoting_users.length}} downvote(s)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="allMetadata">
                    <div class="row">
                        <div class="col s12 ">
                            <p style="font-size: 16px; color: #364850">Having correct and extensive metadata on papers is important for ensuring that users find them when searching. Therefore, you can and edit faulty metadata (level 5 required) and add the fields that are missing (level 2 required).</p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <a ng-if="gameUser.game.level >= 2" ng-click='goToModifyMetadata()' style="margin-top: 15px; margin-right: 10px" class='{{votingEnabled}} col s3 right waves-effect waves-light remove-shadow btn blue-grey white-text'>
                            <i class='material-icons right white-text'>edit</i>Edit metadata</a>
                        <div class="row">
                            <div class="col s12 no-padding-left no-padding-right">
                                <table class="centered bordered z-depth-0">
                                    <thead>
                                    <tr>
                                        <th class="metadata-pub grey-text">metadata</th>
                                        <th class="value-pub grey-text">value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="(key, value) in publication">
                                        <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding metadata-pub"><span  class="card-text-blue">{{key}}</span></td>
                                        <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding value-pub"><span ng-bind-html="value"></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="social">
                    <div class="row">
                        <div class="col s12 ">
                            <p style="font-size: 16px; color: #364850">Discuss anything that has to do with this paper! Do you like the content of it? Should a better version be found? Want to suggest a better paper on the subject? </p>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col s12">
                                <dir-disqus config="disqusConfig"></dir-disqus>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='flagModal' class='modal modal-fixed-footer'>
        <div class='modal-content blue-grey darken-1'>
            <div class="row">
                <p class="white-text flow-text center-align" style="font-weight: 400">Flag this paper for moderation</p>
                <p class="white-text flow-text left-align" style="font-weight: 300">Please state why you wish to flag this paper:</p>
            </div>
            <div class="row">
                <div class="input-field col s12 l6">
                    <select ng-model="flagType">
                        <option value="Erroneous">Erroneous metadata</option>
                        <option value="Missing metadata">Missing metadata</option>
                        <option value="Paper is should be removed">Paper should be removed</option>
                        <option value="Uncategorized flag">None of the above</option>
                    </select>
                    <label style="color: #FFFFFF!important;">Please categorize the flag</label>
                </div>
            </div>
            <form class="col s12">
                <div class="row">
                    <div style="color: #FFFFFF" class="input-field col s12">
                        <textarea style="color: white" ng-model="flagReason" ng-init="flagReason = ''" id="flagReason" class="materialize-textarea"></textarea>
                        <label style="color: #FFFFFF!important;" for="flagReason">Please elaborate further on why you wish to flag the paper:</label>
                    </div>
                </div>
            </form>
        </div>
        <div class='modal-footer blue-grey lighten-2'>
            <div class='row no-margin-bottom'>
                <div class="col s6">
                    <a class='right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text'>
                        <i class=' material-icons publication-schema-button-icon right white-text'>close</i>cancel</a>
                </div>
                <div class="col s6">
                    <a ng-click="flagForModeration()" ng-disabled="((flagReason == '') || (flagType == undefined))" class='right waves-effect waves-light remove-shadow btn blue-grey white-text'>
                        <i class="material-icons right">flag</i>Flag for moderation</a>
                </div>
            </div>
        </div>
    </div>
    <div id='removeFlagModal' class='modal modal-fixed-footer'>
        <div class='modal-content blue-grey darken-1'>
            <div class="row">
                <p class="white-text flow-text center-align" style="font-weight: 400">Has this issue been resolved, and you wish to remove the flag?</p>
            </div>
        </div>
        <div class='modal-footer blue-grey lighten-2'>
            <div class='row no-margin-bottom'>
                <div class="col s6">
                    <a class='right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text'>
                        <i class=' material-icons publication-schema-button-icon right white-text'>close</i>cancel</a>
                </div>
                <div class="col s6">
                    <a ng-click="removeFlag()" class='right waves-effect waves-light remove-shadow btn blue-grey white-text'>
                        <i class="material-icons right">flag</i>Remove flag</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>