<div class="row ">
    <div class="card white col s12 l12" style="padding-top: 20px">
        <div style="border-bottom: 2px; border-color: black" class="center-align"><h4>Add a paper</h4></div>
        <div class="row" style="margin-right: 20px; margin-left: 20px; margin-bottom: 0px">
            <h5 class="flow-text left" style="font-weight: 400; margin-bottom: 10px">The only <span class="light-blue-text"> mandatory fields</span> are
                <span class="light-blue-text"> title of paper</span> and <span class="light-blue-text"> link</span>, the rest are <span class="blue-grey-text">optional. </span>
                However, the more data you add, the more findable the paper will be when searching!</h5>
            <h5 class="flow-text left" style="font-weight: 400; margin-bottom: 10px">Please read the <span ng-click="openInclusionGuidelines()" class="card-link" style="cursor: pointer; border-bottom: 2px!important;border-color: #ff3d00">requirements for inclusion<i class="material-icons tiny">info_outlined</i></span>before submitting.</h5>
        </div>
        <div class="divider" style="margin-bottom: 10px"></div>
        <form name="addPublicationForm">
            <div class="row"></div>
            <!-- DOI  -->
            <div class='row' style="margin-bottom: 5px">
                <div class='input-field col l4 s12'><input name ='doi' ng-model='doi' placeholder='optional, but highly recommended' id='doi' type='text' class='input-field-enlarge validate'>
                    <label class='input-field-enlarge active' for='doi'>DOI</label>
                </div>
                <div class='col s12 l4 '> <a ng-click='retrieveByDOI()' ng-disabled="!addPublicationForm.doi.$dirty" class='publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text'>
                    <i class='material-icons publication-schema-button-icon right white-text'>cloud_download</i>Autofill form using DOI</a>
                </div>
            </div>
            <div class="animate-if" ng-if="autoDetected">
                <div class="divider"></div>
                <div  class="col s12"><h5 style="margin-top: 10px; margin-bottom: 0px">
                    <p>IMPORTANT: Make sure that the link provided bellow leads to a version which is accessible outside any university or institutional networks.
                    Please make sure all fields are correct, and fill inn as many missing fields as possible before submitting.</p></h5></div>
                <div class="row"></div>

                <div style="margin-bottom: 15px" class="divider"></div>
            </div>
            <!--  LINK -->
            <div class='row'>
                <div  ng-show="!autoDetected">
                    <div class='input-field col s12'>
                        <input ng-touched="true" ng-init="link" ng-model='link' name="link" placeholder='mandatory' id='link' type='url' class='input-field-enlarge validate'>
                        <label class='input-field-enlarge active light-blue-text text-lighten-1' for='link'>Link to the paper. e.g http://www.somedomain.com/a_paper</label>
                    </div>
                </div>
                <div ng-if="autoDetected">
                    <div class='input-field col s9'>
                        <input ng-touched="true" ng-model='link1' name="
                    link1" placeholder='mandatory' id='link1' type='url' class='input-field-enlarge validate'>
                        <label class='input-field-enlarge active light-blue-text text-lighten-1' for='link1'>Link to the paper. e.g http://www.somedomain.com/a_paper</label>
                    </div>
                    <div class='col s3'> <a target="_blank" href={{link1}} class='publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text'>
                        <i class='material-icons publication-schema-button-icon right white-text'>open_in_new</i>Open link</a>
                    </div>
                </div>

                <!-- TITLE  -->
            <div class='row'>
                <div class='input-field col s12 '>
                    <input name="title" ng-model='title' placeholder='mandatory' id='title' type='text' class=' input-field-enlarge validate' >
                    <label class='light-blue-text text-lighten-1 lighten-1 active input-field-enlarge' for='title'>Title of paper</label>
                </div>
            </div>
                <!-- VERSION TYPE  -->
                <div class='row'>
                    <div class='col s12 l6 grey-text'>
                        <span class='blue-grey-text input-field-enlarge' style='font-size: 0.8rem; margin-bottom: 10px'>What kind of version of the paper is the link referring to?</span>
                        <select class='browser-default' ng-model='typeSelect'>
                            <option value=''>optional
                            <option value='version of record'> version of record
                            <option value='draft'>draft
                            <option value='unknown'>unknown
                            <option value='specify'>not in the list - specify with free text
                        </select>
                    </div>
                    <div ng-switch='typeSelect'>
                        <div ng-switch-when="specify" class="input-field col l6 s12">
                            <input ng-model='$parent.selfTyped' placeholder='Write a short description' id='type' type='text' class='input-field-enlarge'>
                            <label class='input-field-enlarge active' for='type'>type of version</label>
                        </div>
                    </div>
                </div>
                <!-- AUTHORS  -->
                <div class='row'>
                    <div class='input-field col s12'><input ng-model='authors' placeholder='optional' id='authors' type='text' class='input-field-enlarge'>
                        <label class='input-field-enlarge active' for='authors'>Authors - separate multiple authors by a semicolon and spaces ("Author X ; Author Y")</label>
                    </div>
                </div>
                <!-- ABSTRACT  -->
                <div class='row'>
                    <div class='input-field col s12'>
                        <textarea ng-model='abstract' placeholder='optional' id='abstract' type='text' class='input-field-enlarge materialize-textarea'></textarea>
                        <label class=' input-field-enlarge active' for='abstract'>Abstract - you can use html tags in this input field</label>
                    </div>
                </div>

                <!-- ISSN  -->
                <div class='row'>
                    <div class='input-field col l3 s12'><input ng-model='ISSN' placeholder='optional' id='ISSN' type='text' class='input-field-enlarge'>
                        <label class='input-field-enlarge active' for='doi'>ISSN</label>
                    </div>
                </div>
                <!-- eISSN  -->
                <div class='row'>
                    <div class='input-field col l3 s12'><input ng-model='eISSN' placeholder='optional' id='eISSN' type='text' class='input-field-enlarge'>
                        <label class='input-field-enlarge active' for='doi'>eISSN</label>
                    </div>
                </div>
                <!-- PUBLISHER  -->
                <div class='row'>
                    <div class='input-field col s12'><input ng-model='publisher' placeholder='optional' id='publisher' type='text' class='input-field-enlarge'>
                        <label class='input-field-enlarge active' for='publisher'>Publisher</label>
                    </div>
                </div>
                <!-- JOURNAL_TITLE  -->
                <div class='row'>
                    <div class='input-field col s12'><input ng-model='journal_title' placeholder='optional' id='journal_title' type='text' class='input-field-enlarge'>
                        <label class='input-field-enlarge active' for='journal_title'>Journal</label>
                    </div>
                </div>
                <!-- YEAR  -->
                <div class='row'>
                    <div class='input-field col l3 s12'><input ng-model='year' placeholder='optional' id='year' type='text' class='input-field-enlarge'>
                        <label class='input-field-enlarge active' for='year'>Year of publication</label>
                    </div>
                </div>
                <!-- PAGES  -->
                <div class='row'>
                    <div class='input-field col l3 s2'><input ng-model='pages' placeholder='optional' id='pages' type='text' class='input-field-enlarge'>
                        <label class='input-field-enlarge active' for='pages'>Pages: eg (24 - 55)</label>
                    </div>
                </div>

                <!--   -->
                <div class='row no-margin-bottom'>
                    <div class='col l4 s12 card-text-blue'><p>{{validationMessage}}</p></div>

                    <div ng-show="autoDetected" class='col l3 s4 offset-l9 offset-s8'> <a ng-click='submitPublication()' ng-enabled="autoDetected == true" class='publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text'>
                        <i class='material-icons publication-schema-button-icon right white-text'>send</i>Submit paper</a></div>
                </div>
                <div ng-show="!autoDetected" class='col l3 s4 offset-l9 offset-s8'> <a ng-click='submitPublication()' ng-disabled="(( addPublicationForm.$valid == false) || (!(addPublicationForm.link.$dirty || addPublicationForm.link1.$dirty)) || (!addPublicationForm.title.$dirty))" ng-enabled="autoDetected == true" class='publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text'>
                    <i class='material-icons publication-schema-button-icon right white-text'>note_add</i>Submit paper</a></div>
            </div>
        </form>

    </div>
</div>