/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.des.2015, 13:53:16
    Author     : espenandreassen
*/
html{
    margin: 0;
    padding: 0;
}
.publication-table-padding{
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    padding-left: 30px !important;
    padding-right: 0px !important;
}

.publication-card-bottom-border{
    border-bottom: solid !important;
    border-bottom-color: #DFDFDF !important;
    border-bottom-width: 1px !important;
}
.padd-all-sides{
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;

}
table.centered thead tr th, table.centered tbody tr td {
    text-align: left;
}
table {
    width: 100%;
    table-layout: fixed;
}
.metadata {
    width:10%;
    padding-bottom: 0px !important;
    padding-top: 0px !important;

}
.value {
    width:85%;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.metadata-pub {
    width:20%;
    padding-bottom: 0px !important;
    padding-top: 0px !important;

}
.value-pub {
    width: 80%;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.new-value {
    width:5%;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.blue-grey.darken-1{
    background-color: #364850!important;
}

.blue-grey.darken-2{
    background-color: #364850!important;
}

.blue-grey.lighten-2 {
    background-color: #006b9e !important;
}
.blue-grey {
    background-color: #364850 !important;
}

.blue-grey-text {
    color: #3b4e56 !important;
}

.input-field label {
    color: #006b9e !important;
}

.custom-tab {
    color: #006b9e !important;
    text-transform: none !important;
}

.input-field label {
    color: #006b9e !important;
}

.card-link:hover{
    color: #006b9e!important;
    transition: color .3s ease !important;
}

.card-link {
    color: #ffab40!important;
}

.feature-list-element{
    padding-top: 10px!important;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}

.card .card-title.activator {
    cursor: pointer;

}
.card .card-title.activator:hover {
    cursor: pointer;
    color: #006b9e!important;
    transition: color .3s ease!important;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #006b9e!important;
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #364850;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.switch label .lever:after {
    background-color: #F1F1F1;
}
.switch label input[type=checkbox]:checked + .lever {
    background-color: #347290;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #ffab40;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
    border: 2px solid #FFAB40;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
    background-color: #FFAB40;
    z-index: 0;
}

.progress .determinate {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #006B9E;
    transition: width .3s linear;
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #006b9e!important;
    box-shadow: 0 1px 0 0 #006b9e!important;
}

.card-text-blue{
    color: #006b9e !important;
}

.flag-text{
    color: #006B9E !important;
}

.title {
    text-align: left;
    text-decoration: underline;
    font-size: 17px;
    cursor : pointer
}

.title-icon{
    font-size: 2.5rem !important;
    font-weight: 700 !important;
}
.title:hover {
    color: #90a4ae !important
}

[type="radio"]:not(:checked) + label:before,
[type="radio"]:not(:checked) + label:after {
    border: 2px solid #ffffff;
}
.card-content{
    padding-left: 10px !important;
    padding-right: 10px !important;
}



.card-version{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.card .card-modified img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: auto;
    bottom: 295px !important;
    width: 100%;
}


.animate-if.ng-enter, .animate-if.ng-leave {
    transition:all 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity:1;
}


.login-card {
    position: fixed;
    top: 100px;
    z-index: 99999;
}

.metadata-preview{
    cursor: pointer;
    padding-left: 10px;
    color: #26A69A !important;
}
.metadata-preview:hover{
    color: #90a4ae !important;
}

.feature-table-cell {
    padding-top: 10px;!important;
    padding-bottom: 10px !important;
}

.metadata-preview-icon:hover{
    color: #90a4ae !important;
}

.sub-title {
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}

[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #90a4ae;
    background-color: #90a4ae;
}

.icon-in-table{
    line-height: 2;
    height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer;
}
.icon-in-table:hover{
    color: #006b9e !important;
}

.icon-link:hover{
    color: #90a4ae !important;
    cursor:pointer;
}

.add-border-left{
    border-left:  1px solid rgba(84, 110, 122, 0.22) !important
}
.add-border-right{
    border-right:  1px solid rgba(84, 110, 122, 0.22) !important
}

.no-border-sides{
    border-left-width: 0px !important;
    border-right-width: 0px !important;
}

.expandable-body{
    padding-top: 20px;
    padding-bottom: 20px;
}

.no-margin-bottom{
    margin-bottom: 0px;
}

.no-margin-top{
    margin-top: 0px;
}

.publication-schema-button{
    padding-left: 0px !important;
}
.publication-schema-button-icon{
    margin-left: 0px !important;
}

.publication-modal{
    min-height: 85%;
    max-height: 95%;

}

.input-field-enlarge {
    font-size: 1.1rem !important;
}

.abstract-header{
    padding-bottom: 20px !important;
    padding-top: 0px !important;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
    display: inline;
}
.abstract-header-icon{
    vertical-align: middle;
}
.abstract-body{
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.reduce-padding{
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    padding-right: 10px;
    padding-left: 15px;
}

.no-padding-bottom {
    padding-bottom: 0px !important;
}
.no-padding-top {
    padding-top: 0px !important;
}
.no-padding-right {
    padding-right: 0px !important;
}
.no-padding-left {
    padding-left: 0px !important;
}

.no-display{
    display: none
}

.block-display{
    display: block;
}

[type="checkbox"] + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    -webkit-user-select: none;/* webkit (safari, chrome) browsers */
    -moz-user-select: none;/* mozilla browsers */
    -khtml-user-select: none;/* webkit (konqueror) browsers */
    -ms-user-select: none;/* IE10+ */
}

.input-field input[type=search] {
    background-color: #fff;
    border: 0;
    box-shadow: none;
    color: #444;
}

.input-field input[type=search] ~ .material-icons {
    color: #90a4ae;
}
.remove-borders{
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    margin-top: 0px;
}
.icon-remove-margin-right{
    margin-right: 0px !important;
}

[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #90a4ae;
    background-color: #90a4ae;
;
}

/*Overriding color on checkboxes */
[type="checkbox"].filled-in:not(:checked) + label:after {
    border: 2px solid #90a4ae;
}

/*Overriding color on input field underline */
input[type=text]:focus:not([readonly]){
    border-bottom: 1px solid #90a4ae;
    box-shadow: 0 1px 0 0 #90a4ae;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #5AA0D4;
}

.input-field input[type=search]:focus ~ .material-icons {
    color: #26A69A;
}

.tabs .tab a {
    color: #607D8B;
}

.tabs .indicator {
    background-color: #90a4ae;
    margin-left: 20px;
    margin-right: 20px;
}
.tabs .tab a:hover {
    color: #90a4ae;
}
.input-field .prefix.active {
    color: #80d8ff;
}

select:focus {
    outline: 1px solid #90a4ae;
}
select {
    border: 1px solid #90a4ae;
}
i.medium {
    font-size: 3rem;
}


.remove-shadow {
    box-shadow: none;
    padding-right: 10px;
    text-transform: none;
    margin-bottom: 8px;
    width: 100%;
    padding-left: 18px;
}

#loading-bar .bar {
    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    -o-transition: width 350ms;
    transition: width 350ms;

    background: #FFF;
    position: fixed;
    z-index: 10002;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
}

#loading-bar .peg {
    position: absolute;
    width: 70px;
    right: 0;
    top: 0;
    height: 2px;
    opacity: .45;
    -moz-box-shadow: #FFF 1px 0 6px 1px;
    -ms-box-shadow: #FFF 1px 0 6px 1px;
    -webkit-box-shadow: #FFF 1px 0 6px 1px;
    box-shadow: #29d 1px 0 6px 1px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

#loading-bar-spinner .spinner-icon {
    width: 16px;
    height: 16px;

    border:  solid 2px transparent;
    border-top-color:  #FFF;
    border-left-color: #FFF;
    border-radius: 50%;

    -webkit-animation: loading-bar-spinner 400ms linear infinite;
    -moz-animation:    loading-bar-spinner 400ms linear infinite;
    -ms-animation:     loading-bar-spinner 400ms linear infinite;
    -o-animation:      loading-bar-spinner 400ms linear infinite;
    animation:         loading-bar-spinner 400ms linear infinite;
}