<div class="row ">
    <div class="col l6" style="padding-left: 0px; padding-right: 0px">
        <div class="row" ng-if='userGame.game.level != 0'>
            <div class="col l12" style="padding-left: 0px">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <div class="row">
                            <div class="col l12" style="padding-left: 0px; padding-right: 0px">
                                <div class="col l12">
                                    <h5 class="center-align">All events</h5>
                                </div>
                                <ul style="margin-bottom: 0px; margin-top: 5px">
                                    <li ng-repeat="event in gameUser.game.eventText.slice(0, length(gameUser.game.eventText)).reverse() track by $index | limitTo: 5" style="margin-bottom: 10px">
                                        <p style=" font-size: 15px; padding-bottom: 5px; border-bottom: 1px solid rgba(160, 160, 160, 0.2);">{{event}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l6" style="padding-left: 0px; padding-right: 0px">
        <div class="row" ng-if='userGame.game.level != 0'>
            <div class="col l12" style="padding-left: 0px">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <div class="row">
                            <div class="col l12" style="padding-left: 0px; padding-right: 0px">
                                <div class="col l12">
                                    <h5 class="center-align">Statistics:</h5>
                                </div>
                                <ul style="margin-bottom: 0px; margin-top: 5px">
                                    <li style="margin-bottom: 10px">
                                        <p style=" font-size: 18px; padding-bottom: 5px; border-bottom: 1px solid rgba(160, 160, 160, 0.2);">Publications added: {{gameUser.game.pubAdded}}</p>
                                    </li>
                                    <li style="margin-bottom: 10px">
                                        <p style=" font-size: 18px; padding-bottom: 5px; border-bottom: 1px solid rgba(160, 160, 160, 0.2)">Publications that were verified: {{gameUser.game.pubAddedAndVerified}}</p>
                                    </li>
                                    <li style="margin-bottom: 10px">
                                        <p style=" font-size: 18px; padding-bottom: 5px; border-bottom: 1px solid rgba(160, 160, 160, 0.2);">Publications that you have verified or rejected: {{gameUser.game.pubVerified}}</p>
                                    </li>
                                    <li style="margin-bottom: 10px">
                                        <p style=" font-size: 18px; padding-bottom: 5px; border-bottom: 1px solid rgba(160, 160, 160, 0.2);">Unique versions that you have voted on: {{gameUser.game.pubVoted}}</p>
                                    </li>
                                    <li style="margin-bottom: 10px">
                                        <p style=" font-size: 18px; padding-bottom: 5px; border-bottom: 1px solid rgba(160, 160, 160, 0.2)">Additional versions you have added to publications: {{gameUser.game.pubVoted}}</p>
                                    </li>
                                    <li style="margin-bottom: 10px">
                                        <p style=" font-size: 18px; padding-bottom: 5px; border-bottom: 1px solid rgba(160, 160, 160, 0.2);">Metadata fields edited: {{gameUser.game.metaEdited}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
