

<div class="row ">
    <div class="card white col s12 l12" style="padding-top: 20px">
        <div class="row" style="margin-right: 20px; margin-left: 20px; margin-bottom: 0px">
            <h5 class="flow-text left" style="font-weight: 400; margin-bottom: 5px">These are the papers that have been added to the system, but are not yet verified. Click on them to view, verify or reject them!</h5>
            <h5 class="flow-text left" style="font-weight: 400; margin-bottom: 10px">Please read the <span ng-click="openInclusionGuidelines()" class="card-link" style="cursor: pointer; border-bottom: 2px!important;border-color: #ff3d00">requirements for inclusion<i class="material-icons tiny">info_outlined</i></span>before reviewing.</h5>

        </div>
        <div class="row" style="margin-right: 20px; margin-left: 20px; margin-bottom: 0px;">
            <p ng-if="gameUser.game.level < 4" class="flow-text orange-text left" style="font-weight: 400; margin-bottom: 5px">You have to be rank 4 to see these papers.</p>
        </div>
        <div class="divider" style="margin-bottom: 35px"></div>
        <div class="input-field col s12">
            <i class="material-icons prefix blue-grey-text" style="padding-top: 10px; padding-left: 10px; ">search</i>
            <input ng-model ="verificationFilter" placeholder="filter on the titles" id="0" type="text">
        </div>
        <div ng-show="gameUser.game.level >= 4">
            <div ng-hide="listRetrived" class="progress">
                <div class="indeterminate"></div>
            </div>
            <div class="col s12 no-padding-left no-padding-right">
                <ul class="collapsible" data-collapsible="accordion">
                    <li  ng-repeat="publication in publications | filter:verificationFilter:publication.link | filter:verificationFilter:publication.type |
         filter:verificationFilter:publication.date_added | filter:verificationFilter:publication.authors | filter:verificationFilter:publication.abstract
         | filter:verificationFilter:publication.user | filter:verificationFilter:publication.year  | filter:verificationFilter:publication.publication_title track by $index ">
                        <div ng-if="publication.show == true" class="collapsible-header" style="padding-left: 0px; padding-right: 10px">
                            <div class="col s9">
                                <i class="material-icons blue-grey-text" style="margin-right: 0px">more_vert</i>
                                <span class="truncate blue-grey-text">{{publication.publication_title}}</span>
                            </div>
                            <div class="s3">
                                <h7 style="font-size: 12px" class="blue-grey-text right ">{{publication.user}}, {{publication.date_added}} </h7>
                            </div>
                        </div>
                        <div ng-if="publication.show == true" class="collapsible-body white">
                            <table class="centered bordered">
                                <thead>
                                <tr>
                                    <th class="publication-table-padding" style="width: 15%;" data-field="metadata">metadata</th>
                                    <th class="publication-table-padding" style="width: 85%;" data-field="value">value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(key, value) in publication">
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding"><span class="card-text-blue">{{key}}</span></td>
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding" style="padding-right: 20px!important;">{{value}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="divider"></div>
                            <div class="row">
                                <div class=" col s12">
                                    <p class="">You can add or modify metadata before or after you accept a paper. Once a paper has been rejected, it will be deleted permanently from the system.</p>
                                </div>
                                <div class=" col s3">
                                    <a target="_blank" ng-href="{{publication.link}}" class='{{publicationAddingEnabled}} valign right waves-effect waves-light remove-shadow btn blue-grey white-text'>
                                        <i class="material-icons right">open_in_new</i>open paper</a>
                                </div>
                                <div class=" col s3">
                                    <a target="_blank" ng-href="#/modify_metadata/{{publication._id}}" class='{{publicationAddingEnabled}} valign right waves-effect waves-light remove-shadow btn blue-grey white-text'>
                                        <i class="material-icons right">edit</i>edit metadata</a>
                                </div>

                                <div ng-if="gameUser.username != publication.user" class="col s3">
                                    <a ng-click="openVerifyPublicationModal(publication._id)" class='{{publicationAddingEnabled}} right waves-effect waves-light remove-shadow btn blue-grey white-text'>
                                        <i class="material-icons right">check_circle</i>verify paper</a>
                                </div>
                                <div class=" col s3">
                                    <a ng-click="openDeletePublicationModal(publication._id, publication.publication_title)" class='{{publicationAddingEnabled}} right waves-effect waves-light remove-shadow btn red darken-1 white-text'>
                                        <i class="material-icons right">delete_forever</i>reject paper</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id='rejectPublicationModal' class='modal modal-fixed-footer'>
    <div class='modal-content blue-grey darken-1'>
        <div class="row">
            <p class="white-text flow-text center-align" style="font-weight: 400"> Are you sure you want to delete this paper?</p>
            <p class="white-text flow-text left-align" style="font-weight: 300">The user who added this paper probably appreciates
                you telling them why it was rejected. Please do so in the input field below! </p>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea style="color: white" ng-model="rejectionReason" id="rejectionReason" class="materialize-textarea"></textarea>
                        <label style="color: #FFFFFF!important;" for="rejectionReason">State the reason here, if you want to.</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class='modal-footer blue-grey lighten-2'>
        <div class='row no-margin-bottom'>
            <div class="col s6">
                <a class='right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text'>
                    <i class=' material-icons publication-schema-button-icon right white-text'>close</i>cancel</a>
            </div>
            <div class="col s6">
                <a ng-click="deletePublication()" class='right waves-effect waves-light remove-shadow btn blue-grey darken-1 white-text'>
                    <i class="material-icons right">delete_forever</i>Delete this paper</a>
            </div>
        </div>
    </div>
</div>
<div id='verifyPublicationModal' class='modal modal-fixed-footer'>
    <div class='modal-content blue-grey darken-1'>
        <div class="row">
            <p class="white-text center-align flow-text" style="font-weight: 400">Are you sure you want to verify this paper?</p>
        </div>
    </div>
    <div class='modal-footer blue-grey lighten-2'>
        <div class='row no-margin-bottom'>
            <div class="col s6">
                <a class='right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text'>
                    <i class=' material-icons publication-schema-button-icon right white-text'>close</i>cancel</a>
            </div>
            <div class="col s6">
                <a ng-click="verifyPublication()" class='right waves-effect waves-light remove-shadow btn blue-grey white-text'>
                    <i class="material-icons right">check_circle</i>verify this paper</a>
            </div>
        </div>
    </div>
</div>


