<div class="row">

    <!-- Search options card -->
    <div class="col l2 hide-on-med-and-down no-padding-right no-padding-left fixed ">
        <div class="card blue-grey darken-1" >
            <div class="row">
                <div class="col l12">
                    <div class="card-content white-text" style="padding-top: 10px; padding-bottom: 17px">
                        <h5 style="border-bottom: 1px solid rgba(49, 148, 197, 0.59)" class="center-align">Search for:</h5>

                        <form ng-model="queryForm" action="#">
                            <p>
                                <input ng-model="searchType" value="publication_title" class="with-gap" type="radio" id="Title" ng-checked="searchType == 'publication_title'"/>
                                <label class="white-text active" for="Title">Title</label>
                            </p>
                            <p>
                                <input ng-model="searchType" value="authors" value="author" class="with-gap"  type="radio" id="test2" ng-checked=" searchType == 'authors'" />
                                <label class="white-text" for="test2">Authors</label>
                            </p>
                            <p>
                                <input ng-model="searchType" value="abstract" class="with-gap"  type="radio" id="abstract" ng-checked="searchType == 'abstract'" />
                                <label class="white-text" for="abstract">Abstract</label>
                            </p>
                            <p>
                                <input ng-model="searchType" value="publisher" class="with-gap" type="radio" id="Publisher" ng-checked="searchType == 'publisher'"/>
                                <label class="white-text" for="Publisher">Publisher</label>
                            </p>
                            <p>
                                <input ng-model="searchType" value="journal_title" class="with-gap" type="radio" id="Journal" ng-checked="searchType == 'journal_title'"/>
                                <label class="white-text" for="Journal">Journal</label>
                            </p>
                            <p>
                                <input ng-model="searchType" value="doi" class="with-gap" type="radio" id="DOI" ng-checked="searchType == 'doi'"/>
                                <label class="white-text" for="DOI">DOI</label>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Search field and search results -->
    <div class="col s12 l10  no-padding-right">
        <div class="card white" >
            <div class="card-content">
                <nav>
                    <div class="nav-wrapper white z-depth-0">
                        <form name ="form">
                            <div class="input-field">
                                <input ng-change="change()" ng-keypress = "keyPress($event)" placeholder="Search in more than 800.000 scholarly papers" ng-model="string" id="search" type="search" required>
                                <label for="search"><i ng-click="search()" ng-style="{'cursor' : 'pointer'}" class="material-icons blue-grey-text">search</i></label>
                                <i ui-sref="home" ng-click="string = ''" class="material-icons">close</i>
                            </div>

                        </form>
                    </div>
                </nav>
                <div ng-show ="loadingResults" style="margin-bottom: 0px; margin-top: 10px" class="progress">
                    <div  class="indeterminate"></div>
                </div>

                <!-- Card repeated for each result of search-->
                <div class="collapsible" ng-repeat="publication in publications | filter:fromYear:publication.year">
                    <div class="card-panel reduce-padding z-depth-0">
                        <div class="row no-margin-bottom">
                            <div class="col s12">
                                <span>
                                 <a style="display: inline; font-size: 18px" target="_blank" href={{publication.topVersion.link}} ng-bind-html="publication.publication_title" class="blue-grey-text title"></a>
                                 <i class="material-icons blue-grey-text tiny">open_in_new</i>
                                </span>
                            </div>
                            <div class="col s9" style="font-size: 17px">

                                <div ng-if="(publication.journal_title != '') || (publication.year != '')">
                                    <p><span  class="card-text-blue">Journal, year:</span> <span class="grey-text text-darken-2"> {{publication.journal_title}}, {{ publication.year}} </span></p></div>
                                <div ng-if="(publication.authors != '' && publication.authors != undefined)">
                                    <p class="truncate"><span class="card-text-blue">Authors:</span> <span class="grey-text text-darken-2">{{publication.authors}}</span></p></div>
                                <div ng-if="((publication.publisher != '') && (publication.publisher != undefined))">
                                    <p><span class="card-text-blue">Publisher:</span> <span class="grey-text text-darken-2">{{publication.publisher}}</span></p></div>
                                <div style="padding-left: 0px" class="col s12">
                                    <div ng-if ="((publication.doi != '') && (publication.citationCount != undefined))" class="chip blue-grey lighten-2 white-text" style="display: inline!important;float:left" >{{publication.citationCount}} citations in Scopus
                                    </div>
                                    <div style="top: 50%;left: 50%;display: inline!important;float:left;margin-right: 10px" data-badge-type="1" data-badge-popover='bottom' data-doi={{publication.doi}} data-hide-no-mentions="true" class="altmetric-embed"></div>
                                </div>
                            </div>
                            <div class="col s3 add-border-left" style="padding-right: 0px">
                                <div style="font-size: 16px; padding-left: 0px" >
                                    <ul style="margin-top: 0; margin-bottom: 0">
                                        <li class="center">
                                            <p class="grey-text text-darken-2">{{publication.versions.length -1}} alternative versions</p>
                                            <p class="grey-text text-darken-2">{{publication.numberOfFields}} metadata fields</p>
                                        <li>
                                            <a ng-click="goToPublication(publication._id)" style="font-size: 14px" class=" right waves-effect waves-light remove-shadow btn blue-grey white-text">
                                                <i class='material-icons publication-schema-button-icon right white-text'>more</i>View/edit paper</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row no-margin-bottom">
                                <div class="col s12">
                                    <abstract/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Card with "what is OAsearch description"-->
        <div ng-if="homeScreen" class="card">
            <div style="cursor: default" class="card-image waves-effect waves-block waves-light blue-grey darken-1">
                <div class="container" style="width: 95%; border-bottom: 1px solid rgb(63, 132, 166) ">
                    <p class=" white-text center-align" style="font-size: 24px; margin-bottom: 5px; border-bottom: 1px solid rgb(99, 120, 130)">What is OAsearch?</p>
                    <p class="flow-text white-text" style="font-size: 19px; margin-top: 5px">Put simply, OAsearch is <b style="font-weight: 500">a search engine for scholarly open access papers, where users themselves are enabled to curate and populate the collection of indexed papers.</b> At the core of OAsearch lies two important features: firstly, it enables users to add papers they believe should be included to the collection, which is subsequently quality assured by a separate user before accepted. Secondly, it enables users to edit metadata on papers.
                    <a style="cursor: pointer" ng-click="openInclusionGuidelines()" class="card-link">View paper inclusion guidelines</a>
                    </p>
                </div>
            </div>
            <div class="card-content blue-grey darken-1" style="padding-top: 10px; padding-bottom: 10px; padding-left: 25px!important;">
                <span class="card-title activator"style=" font-size: 24px; font-weight: 400; color: #ffab40">Why register?<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal blue-grey darken-1">
                <span class="card-title white-text" style="font-size: 22px">Register in the top right corner!<i class="material-icons right">close</i></span>
                <ol style="list-style-type: circle; color: white">
                    <li><p class=" white-text lighten-2" style="font-size: 18px; margin-bottom: 5px; margin-top: 5px">Ensuring access and findability of research is crucial to allow for scientific knowledge to be spread and built upon.</p> </li>
                    <li><p class=" white-text lighten-2" style="font-size: 18px; margin-bottom: 5px; margin-top: 5px">Through OAseach you can make your own or others' papers easier to find, expanding the reach of the research! </p>  </li>
                    <li><p class=" white-text lighten-2" style="font-size: 18px; margin-bottom: 5px; margin-top: 5px">Add papers, review those others have added for inclusion, add more sources to already registered papers, flag problematic ones, correct and improve metadata and vote on the best source of a paper!
                    <li><p class=" white-text lighten-2" style="font-size: 18px; margin-bottom: 5px; margin-top: 5px">Contribute, earn points, level up, gain rigths and privileges, show off your efforts, discuss papers with fellow comunity members, OASearch is gamified!</p>    </li>
                    <li><p class=" white-text lighten-2" style="font-size: 18px; margin-bottom: 5px; margin-top: 5px"><a class="card-link" ui-sref="features">View all features</a></p></li>
                </ol>
            </div>
        </div>

        <div ng-if = "homeScreen" class="card col l12" style="padding-left: 0px; padding-right: 0px;">
            <div class="card-image waves-effect waves-block waves-light">
                <div class="video-container">
                    <iframe width="853" height="480" src="//www.youtube.com/embed/L5rVH1KGBCY?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
</div>