<div class="row ">
    <div class="card white col s12 l10 offset-l2" style="padding-top: 20px">
        <div class="row" style="margin-right: 20px; margin-left: 20px; margin-bottom: 0px">

            <h5>These are the papers that have been flagged for moderation. The categorization of the flag is displayed in the header alongside with the title of the paper.</h5>
            <div ng-hide="listRetrived" class="progress">
                <div class="indeterminate"></div>
            </div>
            <div class="col s12 no-padding-left no-padding-right">
                <ul class="collapsible" data-collapsible="accordion">
                    <li ng-repeat="publication in publications" >
                        <div class="collapsible-header" style="padding-left: 0px; padding-right: 10px">
                            <div class="s3">
                                <i class="material-icons flag-text left">more_vert</i>
                                <h7 style="font-size: 14px" class="left flag-text">{{publication.flagEvents[publication.flagEvents.length - 1].type}}: </h7>
                            </div>
                            <div class="col s9">
                                <span class="truncate blue-grey-text">{{publication.publication_title}}</span>
                            </div>

                        </div>
                        <div  class="collapsible-body">
                            <div class="col s12" style="padding-top: 10px">
                                <div style="padding-bottom: 0px" class="col s9 flag-text">{{publication.flagEvents[publication.flagEvents.length - 1].user}}, {{publication.flagEvents[publication.flagEvents.length - 1].date}}:</div>
                                <a href="#/publication/{{publication._id}}" class=' col s3 waves-effect waves-light remove-shadow btn blue-grey white-text'>
                                    <i class='material-icons right white-text'>arrow_forward</i>Go to paper</a>
                            </div>
                                <p style="padding-top: 10px; padding-bottom: 10px">{{publication.flagEvents[publication.flagEvents.length - 1].text}}</p>
                            <div class="row">

                                <div class="col s12">

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

