<!DOCTYPE html><html ng-app="app" style="margin:0;padding:0;" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <meta charset="UTF-8">
    <title>OA search engine</title>
    <meta name="description" content="A search engine for Open Access scholarly publications, with a crowdsourced curation of the database">
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/Materialize/bin/materialize.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css">
    <link rel="stylesheet" href="bower_components/angular-tooltips/dist/angular-tooltips.min.css">


    <!-- endbower -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/Materialize/bin/materialize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-tooltips/lib/angular-tooltips.js"></script>
    <script src="bower_components/angularUtils-disqus/dirDisqus.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>


    <!-- endbower -->

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="app/style.css">

    <script src="app/main/main.js"></script>
    <script src="app/main/index.js"></script>

    <script src="app/profile/profile.js"></script>
    <script src="app/features/features.js"></script>
    <script src="app/publication/publication.js"></script>
    <script src="app/verification/verification.js"></script>
    <script src="app/add_publication/add_publication.js"></script>
    <script src="app/modify_metadata/modify_metadata.js"></script>
    <script src="app/auth/auth.js"></script>




</head>

<body class="blue-grey lighten-2">

<!-- The navbar on top-->
<div ng-controller="IndexCtrl" class="ng-scope">
    <div class="navbar-fixed">
        <nav>
            <div class="blue-grey lighten-2 lighten-1 nav-wrapper">

                <div class="row">
                    <div class="col l1">
                        <a ui-sref="home" class="brand-logo center" href="#/home">OASearch.com
                            <span class="white-text" style="font-size: 11px"> - a crowdsourced collection of OA scholarly papers</span> </a>
                    </div>
                    <ul>
                        <!-- ngIf: userStats.game.level >= 4 -->
                        <!-- ngIf: userStats.game.level >= 1 -->
                        
                    </ul>
                    <ul class="right nav-mobile walign-wrapper">
                        <a ng-click="openLoginModal()" class="ng-binding">Sign in / register  <img ng-show="signedIn" height="45" width="45" style="vertical-align:middle; border-radius: 30%" class="ng-hide"> <i ng-hide="signedIn" class="material-icons right">account_box</i></a>
                    </ul>
                </div>
            </div>

        </nav>
    </div>

    <div class="row">
        <div class="col s9" style="width: 80%">
            <!-- uiView: --><div ui-view="" class="ng-scope" style=""><div class="row  ng-scope">
    <div class="card white col s12 l10 offset-l2" style="padding-top: 20px">
        <div class="row" style="margin-right: 20px; margin-left: 20px; margin-bottom: 0px">
            <p class="flow-text card-text-blue left" style="font-weight: 400; margin-bottom: 10px">The only <span class="light-blue-text"> mandatory</span> fields are the two at the top:
                <span class="light-blue-text"> Title of paper</span> and <span class="light-blue-text"> link</span>, the rest are <span class="blue-grey-text">optional. </span>
                How ever, the more data you add, the more findable the paper will be when searching!</p>
        </div>
        <div class="divider" style="margin-bottom: 45px"></div>
        <form name="addPublicationForm" class="ng-pristine ng-valid ng-valid-url">
            <!-- TITLE  -->
            <div class="row">
                <div class="input-field col s12 ">
                    <input name="title" ng-model="title" placeholder="mandatory" id="title" type="text" class="input-field-enlarge validate ng-pristine ng-untouched ng-valid ng-empty">
                    <label class="light-blue-text text-lighten-1 lighten-1 active input-field-enlarge" for="title">Title of paper (you can use html tags in this input field)</label>
                </div>
            </div>
            <!--  LINK -->
            <div class="row">
                <div class="input-field col s12">
                    <input ng-touched="true" ng-model="link" name="
                    link" placeholder="mandatory" id="link" type="url" class="input-field-enlarge validate ng-pristine ng-untouched ng-valid ng-empty ng-valid-url">
                    <label class="input-field-enlarge active light-blue-text text-lighten-1" for="link">Link to the paper. e.g http://www.somedomain.com/a_paper</label>
                </div>
            </div>

            <!-- VERSION TYPE  -->
            <div class="row">
                <div class="col s12 l6 grey-text">
                    <span class="blue-grey-text input-field-enlarge" style="font-size: 0.8rem; margin-bottom: 10px">What kind of version of the paper is the link referring to?</span>
                    <select class="browser-default ng-pristine ng-untouched ng-valid ng-empty" ng-model="typeSelect">
                        <option value="">optional
                        </option><option value="version of record"> version of record
                        </option><option value="draft">draft
                        </option><option value="unknown">unknown
                        </option><option value="specify">not in the list - specify with free text
                    </option></select>
                </div>
                <div ng-switch="typeSelect">
                    <!-- ngSwitchWhen: specify -->
                </div>
            </div>
            <!-- AUTHORS  -->
            <div class="row">
                <div class="input-field col s12"><input ng-model="authors" placeholder="optional" id="authors" type="text" class="input-field-enlarge ng-pristine ng-untouched ng-valid ng-empty">
                    <label class="input-field-enlarge active" for="authors">Authors - separate multiple authors by a semicolon and spaces ("Author X ; Author Y")</label>
                </div>
            </div>
            <!-- ABSTRACT  -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea ng-model="abstract" placeholder="optional" id="abstract" type="text" class="input-field-enlarge materialize-textarea ng-pristine ng-untouched ng-valid ng-empty"></textarea>
                    <label class="input-field-enlarge active" for="abstract">Abstract - you can use html tags in this input field</label>
                </div>
            </div>
            <!-- DOI  -->
            <div class="row">
                <div class="input-field col l3 s12"><input ng-model="doi" placeholder="optional" id="doi" type="text" class="input-field-enlarge ng-pristine ng-untouched ng-valid ng-empty">
                    <label class="input-field-enlarge active" for="doi">DOI</label>
                </div>
            </div>
            <!-- ISSN  -->
            <div class="row">
                <div class="input-field col l3 s12"><input ng-model="ISSN" placeholder="optional" id="ISSN" type="text" class="input-field-enlarge ng-pristine ng-untouched ng-valid ng-empty">
                    <label class="input-field-enlarge active" for="doi">ISSN</label>
                </div>
            </div>
            <!-- eISSN  -->
            <div class="row">
                <div class="input-field col l3 s12"><input ng-model="eISSN" placeholder="optional" id="eISSN" type="text" class="input-field-enlarge ng-pristine ng-untouched ng-valid ng-empty">
                    <label class="input-field-enlarge active" for="doi">eISSN</label>
                </div>
            </div>
            <!-- PUBLISHER  -->
            <div class="row">
                <div class="input-field col s12"><input ng-model="publisher" placeholder="optional" id="publisher" type="text" class="input-field-enlarge ng-pristine ng-untouched ng-valid ng-empty">
                    <label class="input-field-enlarge active" for="publisher">Publisher</label>
                </div>
            </div>
            <!-- JOURNAL_TITLE  -->
            <div class="row">
                <div class="input-field col s12"><input ng-model="journal_title" placeholder="optional" id="journal_title" type="text" class="input-field-enlarge ng-pristine ng-untouched ng-valid ng-empty">
                    <label class="input-field-enlarge active" for="journal_title">Journal</label>
                </div>
            </div>
            <!-- YEAR  -->
            <div class="row">
                <div class="input-field col l3 s12"><input ng-model="year" placeholder="optional" id="year" type="text" class="input-field-enlarge ng-pristine ng-untouched ng-valid ng-empty">
                    <label class="input-field-enlarge active" for="year">Year of publication</label>
                </div>
            </div>
            <!-- PAGES  -->
            <div class="row">
                <div class="input-field col l3 s2"><input ng-model="pages" placeholder="optional" id="pages" type="text" class="input-field-enlarge ng-pristine ng-untouched ng-valid ng-empty">
                    <label class="input-field-enlarge active" for="pages">Pages: eg (24 - 55)</label>
                </div>
            </div>

            <!--   -->
            <div class="row no-margin-bottom">
                <div class="col l4 s12 card-text-blue"><p class="ng-binding"></p></div>

                <div class="col l3 s4 offset-l9 offset-s8"> <a ng-click="submitPublication()" ng-disabled="(addPublicationForm.$valid == false) || (!addPublicationForm.link.$dirty) || (!addPublicationForm.title.$dirty)" class="publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text" disabled="disabled">
                    <i class="material-icons publication-schema-button-icon right white-text">send</i>submit</a></div>
            </div>
        </form>

    </div>
</div></div>
        </div>
        <div class="col s3" style="padding-left: 0px; padding-right: 0px; width: 20%">
            <div class="row">
                <div class="col l12" style="padding-left: 0px">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <div class="row">
                                <div class="col l12" style="padding-left: 0px; padding-right: 0px">
                                    <div class="col l12">
                                        <h5 class="center-align">Your progress</h5>
                                    </div>
                                    <div class="col l12">
                                        <p class="center-align ng-binding">Level 1 0 | 2000 points</p>
                                    </div>
                                    <div style="padding-bottom: 10px; border-bottom: 1px solid rgb(99, 120, 130);" class="col l12">
                                        <p class="center-align ng-binding"> 50/ 100 points</p>
                                    </div>
                                    <row>
                                        <div style="padding-bottom: 0px; padding-top: 10px" class="col l6"><p class="ng-binding">Lvl: 0</p></div>
                                        <div style="padding-bottom: 0px; padding-top: 10px" class="col l6 right-align ng-binding">Next lvl: 1</div>
                                    </row>
                                    <div class="col l12 progress" style="margin-bottom: 5px; margin-top: 0px">
                                        <div id="progression" class="determinate" ng-style="{'width' : userStats.game.progressToNextLevel + '%'}" style="width: 0%;"></div>
                                    </div>

                                    <row>
                                        <div style=" padding-bottom:10px; border-bottom: 1px solid rgb(99, 120, 130);" class="col l12"><p>Next unlock: <span class="blue-grey-text lighten-2 ng-binding">A fictive unlock</span></p></div>
                                    </row>
                                    <div class="col l8 offset-l2" style="border-bottom: 1px solid rgba(49, 148, 197, 0.59);margin-top: 15px"><p style="font-size: 18px" class="center-align">Latest points earned</p> </div>
                                    <div class="col l12">
                                        <ul style="margin-bottom: 0px; margin-top: 5px">
                                            <li><p>Some event</p></li>
                                            <!-- ngRepeat: event in userStats.game.eventText.slice(length(userStats.game.eventText) - 5, length(userStats.game.eventText)).reverse() track by $index | limitTo: 5 -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action" style="border-top: 1px solid rgba(49, 148, 197, 0.59)">
                                <ul>
                                    <li style="margin-bottom: 10px">
                                        <a ui-sref="profile" href="#/profile">View all stats</a>
                                    </li>
                                    <li>
                                        <a ui-sref="features" href="#/features">How do i earn more points?</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ngIf: userStats.game.level == 0 --><div class="row ng-scope" ng-if="userStats.game.level == 0">
                <div class="col l12" style="padding-left: 0px">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <div class="row">
                                <div class="col l12" style="padding-left: 0px; padding-right: 0px">
                                    <div class="col l12">
                                        <h5 class="left-align">Register to track your contributions, progress through levels and gain privileges!</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action" style="border-top: 1px solid rgba(49, 148, 197, 0.59); padding-bottom: 5px">
                                <ul style="margin-bottom: 0px; margin-top: 0px">
                                    <li>
                                        <a ui-sref="features" href="#/features">What can i do once registered?</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end ngIf: userStats.game.level == 0 -->
        </div>
        <footer class="page-footer blue-grey lighten-2">
            <div class="container">
                <div class="row">
                    <div class="col l12 s12">
                        <h5 class="white-text"></h5>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col l4">
                            <a class="grey-text text-lighten-4 right" href="#!">Terms of use</a>
                        </div>
                        <div class="col l4">
                            <a class="grey-text text-lighten-4 right" href="#!">Privacy policy</a>
                        </div>
                        <div class="col l4">
                            <a class="grey-text text-lighten-4 right" href="#!">About us</a>
                        </div>
                    </div>

                </div>
            </div>
        </footer>

        <div id="eventModal" class="modal modal-fixed-footer" style="width: 60%; height: 60%">
            <div class="modal-content blue-grey darken-2" style="padding-top: 0px; padding-bottom: 0px">
                <div class="row">
                    <div class="col l12">
                        <p style="font-size: 30px; border-bottom: 1px solid rgba(49, 148, 197, 0.59)" class="white-text center-align ng-binding"></p>
                    </div>
                    <div class="col l12">
                        <p class="white-text flow-text ng-binding"></p>
                    </div>
                    <div class="col l12">
                        <p class="flow-text center-align ng-binding" style="color: #ffab40;"> points awarded!</p>
                    </div>
                    <div class="col l6 offset-l6">
                    </div>
                </div>
            </div>
            <div class="modal-footer blue-grey lighten-2">
                <div class="row no-margin-bottom">
                    <div class="col s3 offset-l9">
                        <a class=" right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                            <i class=" material-icons publication-schema-button-icon right white-text">mood</i>Got it!</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="levelUpModal" class="modal modal-fixed-footer" style="width: 55%; height: 55%">
            <div class="modal-content blue-grey darken-2" style="padding-top: 0px; padding-bottom: 0px">
                <div class="row">
                    <div class="col l12">
                        <p style="font-size: 30px; border-bottom: 1px solid rgba(49, 148, 197, 0.59)" class="white-text center-align">You leveled up!</p>
                    </div>
                    <div class="col l12">
                        <p class="white-text flow-text center-align ng-binding">Congratulation, you just reached level </p>
                    </div>
                    <div class="col l12">
                        <p class="flow-text center-align" style="color: #ffab40;">You unlocked:</p>
                        <p class="flow-text left-align white-text ng-binding"></p>

                    </div>
                    <div class="col l6 offset-l6">
                    </div>
                </div>
            </div>
            <div class="modal-footer blue-grey lighten-2">
                <div class="row no-margin-bottom">
                    <div class="col s3 offset-l9">
                        <a class=" right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                            <i class=" material-icons publication-schema-button-icon right white-text">mood</i>Got it!</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
    <div id="authenticationModal" class="modal  modal-fixed-footer white" style="height: 60%; width: 40%">
        <div class="modal-content">
            <div class="row">
                <ul class="tabs" style="font-size: 18px; width: 100%;">
                    <li class="tab col s4">
                        <a class="custom-tab active" href="#signIn">Sign in</a>
                        <div style="left: 0px; right: 50px;" class="indicator custom"></div></li>
                    <li class="tab col s4">
                        <a class="custom-tab" href="#register">Register</a></li>
                <div class="indicator" style="right: 50px; left: 0px;"></div><div class="indicator" style="right: 50px; left: 0px;"></div></ul>
                <div id="signIn">
                    <form name="signInForm" ng-keypress="keyPress($event)" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern">
                        <div class="section">
                            <div class="input-field col s6">
                                <input pattern=".{0,16}" ng-model="signInUsername" id="signInUsername" type="text" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" required="">
                                <label for="signInUsername">Username</label>
                            </div>

                            <div class="input-field col s6"><input ng-model="signInPassword" id="signInPassword" type="password" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required="">
                                <label for="signInPassword">Password</label>

                            </div>
                            <div class="row">
                                <div class="col s6 offset-s3"> <a ng-class="{disabled : signInForm.$invalid}" ng-click="signIn()" class="publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text disabled">
                                    <i class="material-icons publication-schema-button-icon right white-text">person</i>Sign in</a>
                                </div>
                                <div class="col s6 offset-s3"> <a href="/auth/facebook" class="publication-schema-button right waves-effect waves-light remove-shadow btn white-text" style="background-color: #3b5998">
                                    Sign in with Facebook</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="register" style="display: none;">
                    <div class="section">
                        <form name="registerForm" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input pattern=".{0,16}" ng-model="registerUsername" placeholder="(maximum 16)" id="registerUsername" type="text" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" required="">
                                    <label data-error="username length: 1-16" class="active" for="registerUsername">Username</label>
                                </div>
                                <div class="input-field col s6">
                                    <input pattern=".{6,50}" ng-model="registerPassword" placeholder="(minimum 6)" id="registerPassword" type="password" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" required="">
                                    <label data-error="password length: minimum 6" class="active" for="registerPassword">Password</label>
                                </div>
                                <div class="row"></div>
                                <div ng-hide="ongoingRegistrations" class="col s4 offset-s4"> <a ng-class="{disabled : registerForm.$invalid}" ng-click="register()" class="publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text disabled">
                                    <i class="material-icons publication-schema-button-icon right white-text">person_add</i>Register</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer blue-grey lighten-2">
            <div class="row no-margin-bottom">
                <div class="col l9 white-text"><p class="ng-binding"></p></div>
                <div class="col l3"> <a class="right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                    <i class="material-icons publication-schema-button-icon right white-text">close</i>cancel</a></div>

            </div>
        </div>
    </div>

    <div id="logoutModal" class="modal modal-fixed-footer" style="max-height: 30%;">
        <div class="modal-content">
            <div class="row">
                <p class="card-text-blue flow-text" style="font-weight: 400">Would you like to sign out?</p>
            </div>

        </div>
        <div class="modal-footer blue-grey lighten-2">
            <div class="row no-margin-bottom">
                <div class="col s4 offset-s2">
                    <a class="right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                        <i class="material-icons publication-schema-button-icon right white-text">close</i>cancel</a>
                </div>
                <div class="col s4"> <a ng-click="logout()" class="publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text">
                    <i class="material-icons publication-schema-button-icon right white-text">send</i>sign out</a>
                </div>
            </div>
        </div>
    </div></div></div>
</div>

<div class="hiddendiv common"></div><div id="toast-container"><div class="toast" style="-webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); top: 0px; opacity: 1;">You need to be signed in add a paper</div></div></body></html>