<!DOCTYPE html><html ng-app="app" style="margin:0;padding:0;" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <meta charset="UTF-8">
    <title>OA search engine</title>
    <meta name="description" content="A search engine for Open Access scholarly publications, with a crowdsourced curation of the database">
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/Materialize/bin/materialize.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css">
    <link rel="stylesheet" href="bower_components/angular-tooltips/dist/angular-tooltips.min.css">


    <!-- endbower -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/Materialize/bin/materialize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-tooltips/lib/angular-tooltips.js"></script>
    <script src="bower_components/angularUtils-disqus/dirDisqus.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>


    <!-- endbower -->

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="app/style.css">

    <script src="app/main/main.js"></script>
    <script src="app/main/index.js"></script>

    <script src="app/profile/profile.js"></script>
    <script src="app/features/features.js"></script>
    <script src="app/publication/publication.js"></script>
    <script src="app/verification/verification.js"></script>
    <script src="app/add_publication/add_publication.js"></script>
    <script src="app/modify_metadata/modify_metadata.js"></script>
    <script src="app/auth/auth.js"></script>




</head>

<body class="blue-grey lighten-2">

<!-- The navbar on top-->
<div ng-controller="IndexCtrl" class="ng-scope">
    <div class="navbar-fixed">
        <nav>
            <div class="blue-grey lighten-2 lighten-1 nav-wrapper">

                <div class="row">
                    <div class="col l1">
                        <a ui-sref="home" class="brand-logo center" href="#/home">OASearch.com
                            <span class="white-text" style="font-size: 11px"> - a crowdsourced collection of OA scholarly papers</span> </a>
                    </div>
                    <ul>
                        <!-- ngIf: userStats.game.level >= 4 -->
                        <!-- ngIf: userStats.game.level >= 1 -->
                        
                    </ul>
                    <ul class="right nav-mobile walign-wrapper">
                        <a ng-click="openLoginModal()" class="ng-binding">Sign in / register  <img ng-show="signedIn" height="45" width="45" style="vertical-align:middle; border-radius: 30%" class="ng-hide"> <i ng-hide="signedIn" class="material-icons right">account_box</i></a>
                    </ul>
                </div>
            </div>

        </nav>
    </div>

    <div class="row">
        <div class="col s9" style="width: 80%">
            <!-- uiView: --><div ui-view="" class="ng-scope" style=""><div class="row ng-scope">
    <div class="col l2 hide-on-med-and-down no-padding-right no-padding-left fixed ">
        <div class="card blue-grey darken-1">
            <div class="row">
                <div class="col l12">
                    <div class="card-content white-text" style="padding-top: 10px; padding-bottom: 17px">
                        <h5 style="border-bottom: 1px solid rgba(49, 148, 197, 0.59)" class="center-align">Search for:</h5>

                        <form ng-model="queryForm" action="#" class="ng-pristine ng-untouched ng-valid ng-empty">
                            <p>
                                <input ng-model="searchType" value="publication_title" class="with-gap ng-pristine ng-untouched ng-valid ng-not-empty" type="radio" id="Title" ng-checked="searchType == 'publication_title'" name="13" checked="checked">
                                <label class="white-text active" for="Title">Title</label>
                            </p>
                            <p>
                                <input ng-model="searchType" value="authors" class="with-gap ng-pristine ng-untouched ng-valid ng-not-empty" type="radio" id="test2" ng-checked=" searchType == 'authors'" name="14">
                                <label class="white-text" for="test2">Authors</label>
                            </p>
                            <p>
                                <input ng-model="searchType" value="abstract" class="with-gap ng-pristine ng-untouched ng-valid ng-not-empty" type="radio" id="abstract" ng-checked="searchType == 'abstract'" name="15">
                                <label class="white-text" for="abstract">Abstract</label>
                            </p>
                            <p>
                                <input ng-model="searchType" value="publisher" class="with-gap ng-pristine ng-untouched ng-valid ng-not-empty" type="radio" id="Publisher" ng-checked="searchType == 'publisher'" name="16">
                                <label class="white-text" for="Publisher">Publisher</label>
                            </p>
                            <p>
                                <input ng-model="searchType" value="journal_title" class="with-gap ng-pristine ng-untouched ng-valid ng-not-empty" type="radio" id="Journal" ng-checked="searchType == 'journal_title'" name="17">
                                <label class="white-text" for="Journal">Journal</label>
                            </p>
                            <p>
                                <input ng-model="searchType" value="doi" class="with-gap ng-pristine ng-untouched ng-valid ng-not-empty" type="radio" id="DOI" ng-checked="searchType == 'doi'" name="18">
                                <label class="white-text" for="DOI">DOI</label>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col l10 s12 no-padding-right">
        <div class="card white">
            <div class="card-content">
                <nav>
                    <div class="nav-wrapper white z-depth-0">
                        <form name="form" class="ng-pristine ng-invalid ng-invalid-required">

                            <div class="input-field blue-grey">
                                <input ng-change="change()" ng-keypress="keyPress($event)" placeholder="Search in more than 800.000 scholarly papers" ng-model="string" id="search" type="search" required="" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required">
                                <label for="search" class="active"><i ng-click="search()" ng-style="{'cursor' : 'pointer'}" class="material-icons blue-grey-text" style="cursor: pointer;">search</i></label>
                                <i ui-sref="home" ng-click="string = ''" class="material-icons active" href="#/home">close</i>
                            </div>

                        </form>
                    </div>
                </nav>

                <div ng-show="loadingResults" style="margin-bottom: 0px; margin-top: 10px" class="progress ng-hide">
                    <div class="indeterminate"></div>
                </div>
                <!-- ngRepeat: publication in publications | filter:fromYear:publication.year -->
    </div>
</div>
<!-- ngIf: homeScreen --><div ng-if="homeScreen" class="card ng-scope">
    <div style="cursor: default" class="card-image waves-effect waves-block waves-light blue-grey darken-1">
        <div class="container" style="width: 95%; border-bottom: 1px solid rgb(63, 132, 166) ">
            <p class=" white-text center-align" style="font-size: 24px; margin-bottom: 5px; border-bottom: 1px solid rgb(99, 120, 130)">What is OAsearch?</p>
            <p class="flow-text white-text" style="font-size: 19px; margin-top: 5px">Put simply, OAsearch is <b style="font-weight: 500">a search engine for scholarly open access papers, where users themselves are enabled to curate and populate the collection of indexed papers.</b> At the core of OAsearch lies two important features: firstly, it enables users to add papers they believe should be included to the collection, which is subsequently quality assured by a separate user before accepted. Secondly, it enables users to edit metadata on papers.
               <a class="card-link" ui-sref="features" href="#/features">View all features</a></p>
        </div>
    </div>

    <div class="card-content blue-grey darken-1" style="padding-top: 10px; padding-bottom: 10px; padding-left: 25px!important;">
        <span class="card-title activator" style=" font-size: 24px; font-weight: 400; color: #ffab40">Why register?<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal blue-grey darken-1">
        <span class="card-title white-text" style="font-size: 22px">Register in the top right corner!<i class="material-icons right">close</i></span>
        <ol style="list-style-type: circle; color: white">
            <li><p class=" white-text lighten-2" style="font-size: 18px; margin-bottom: 5px; margin-top: 5px">Make your own or someone elses' papers findable! <a class="blue-grey-text">Spread knowledge!</a> </p> </li>
            <li><p class=" white-text lighten-2" style="font-size: 18px; margin-bottom: 5px; margin-top: 5px"><a class="blue-grey-text">Contribute</a> by reviewing papers, finding the OA versions of papers others are looking for, improve metadata, add more sources to already registered papers, vote on the best source!</p>  </li>
            <li><p class=" white-text lighten-2" style="font-size: 18px; margin-bottom: 5px; margin-top: 5px">Contribute, make points, level up, access more, show off your efforts! <a class="blue-grey-text">OAsearch is gamified.</a></p>    </li>
            <li><p class=" white-text lighten-2" style="font-size: 18px; margin-bottom: 5px; margin-top: 5px">Discuss papers with fellow <a class="blue-grey-text">community</a> members!</p>  </li>
        </ol>
    </div>
</div><!-- end ngIf: homeScreen -->

<!-- ngIf: homeScreen --><div ng-if="homeScreen" class="card col l12 ng-scope" style="padding-left: 0px; padding-right: 0px;">
    <div class="card-image waves-effect waves-block waves-light">
        <div class="video-container">
            <iframe width="853" height="480" src="//www.youtube.com/embed/L5rVH1KGBCY?rel=0" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
</div><!-- end ngIf: homeScreen -->
</div>



<!--
<div class="card">
    <div class="card-image waves-effect waves-block waves-light" style="background-color: #3194C5">
        <img class="activator" src="app/images/OpenAccess.jpg">
    </div>
    <div class="card-content blue-grey lighten-2">
        <span class="card-title activator white-text">The site is under development. Click for more info on progress<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
        <span class="card-title activator card-text-blue" style="font-weight: 400">Progress status<i class="material-icons right">close</i></span>
        <ul>
            <li>
                <p class="card-text-blue flow-text">When searching you can only do a full-text search in the title field of the publications, and this is currently not changeable. All other buttons and links are functional, but as this is a prototype, you are likely to encounter bugs.</p>
            </li>
        </ul>
    </div>
</div>
-->

<!--
<div class="card medium">
    <div class="card-image card-modified waves-effect waves-block waves-light">
        <img class="activator" src="http://img1.goodfon.su/original/3840x3840/a/e2/android-5-0-lollipop-green-7596.jpg">
    </div>
    <div class="card-content">
        <span class="card-title activator blue-grey-text">Welcome to OAsearh.com!<i class="material-icons right">more_vert</i></span>
        <p class="grey-text">Click for infomration on about this site.</p>
    </div>
    <div class="card-reveal">
        <span class="card-title blue-grey-text ">OA search engine<i class="material-icons right">close</i></span>
        <p class="grey-text">This site has been created as a part of a master thesis. More to come</p>
    </div>
</div>
-->
</div>
</div>
        </div>
        <div class="col s3" style="padding-left: 0px; padding-right: 0px; width: 20%">
            <div class="row">
                <div class="col l12" style="padding-left: 0px">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <div class="row">
                                <div class="col l12" style="padding-left: 0px; padding-right: 0px">
                                    <div class="col l12">
                                        <h5 class="center-align">Your progress</h5>
                                    </div>
                                    <div class="col l12">
                                        <p class="center-align ng-binding">Level 1 0 | 2000 points</p>
                                    </div>
                                    <div style="padding-bottom: 10px; border-bottom: 1px solid rgb(99, 120, 130);" class="col l12">
                                        <p class="center-align ng-binding"> 50/ 100 points</p>
                                    </div>
                                    <row>
                                        <div style="padding-bottom: 0px; padding-top: 10px" class="col l6"><p class="ng-binding">Lvl: 0</p></div>
                                        <div style="padding-bottom: 0px; padding-top: 10px" class="col l6 right-align ng-binding">Next lvl: 1</div>
                                    </row>
                                    <div class="col l12 progress" style="margin-bottom: 5px; margin-top: 0px">
                                        <div id="progression" class="determinate" ng-style="{'width' : userStats.game.progressToNextLevel + '%'}" style="width: 0%;"></div>
                                    </div>

                                    <row>
                                        <div style=" padding-bottom:10px; border-bottom: 1px solid rgb(99, 120, 130);" class="col l12"><p>Next unlock: <span class="blue-grey-text lighten-2 ng-binding">A fictive unlock</span></p></div>
                                    </row>
                                    <div class="col l8 offset-l2" style="border-bottom: 1px solid rgba(49, 148, 197, 0.59);margin-top: 15px"><p style="font-size: 18px" class="center-align">Latest points earned</p> </div>
                                    <div class="col l12">
                                        <ul style="margin-bottom: 0px; margin-top: 5px">
                                            <li><p>Some event</p></li>
                                            <!-- ngRepeat: event in userStats.game.eventText.slice(length(userStats.game.eventText) - 5, length(userStats.game.eventText)).reverse() track by $index | limitTo: 5 -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action" style="border-top: 1px solid rgba(49, 148, 197, 0.59)">
                                <ul>
                                    <li style="margin-bottom: 10px">
                                        <a ui-sref="profile" href="#/profile">View all stats</a>
                                    </li>
                                    <li>
                                        <a ui-sref="features" href="#/features">How do i earn more points?</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ngIf: userStats.game.level == 0 --><div class="row ng-scope" ng-if="userStats.game.level == 0">
                <div class="col l12" style="padding-left: 0px">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <div class="row">
                                <div class="col l12" style="padding-left: 0px; padding-right: 0px">
                                    <div class="col l12">
                                        <h5 class="left-align">Register to track your contributions, progress through levels and gain privileges!</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action" style="border-top: 1px solid rgba(49, 148, 197, 0.59); padding-bottom: 5px">
                                <ul style="margin-bottom: 0px; margin-top: 0px">
                                    <li>
                                        <a ui-sref="features" href="#/features">What can i do once registered?</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end ngIf: userStats.game.level == 0 -->
        </div>
        <footer class="page-footer blue-grey lighten-2">
            <div class="container">
                <div class="row">
                    <div class="col l12 s12">
                        <h5 class="white-text"></h5>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col l4">
                            <a class="grey-text text-lighten-4 right" href="#!">Terms of use</a>
                        </div>
                        <div class="col l4">
                            <a class="grey-text text-lighten-4 right" href="#!">Privacy policy</a>
                        </div>
                        <div class="col l4">
                            <a class="grey-text text-lighten-4 right" href="#!">About us</a>
                        </div>
                    </div>

                </div>
            </div>
        </footer>

        <div id="eventModal" class="modal modal-fixed-footer" style="width: 60%; height: 60%">
            <div class="modal-content blue-grey darken-2" style="padding-top: 0px; padding-bottom: 0px">
                <div class="row">
                    <div class="col l12">
                        <p style="font-size: 30px; border-bottom: 1px solid rgba(49, 148, 197, 0.59)" class="white-text center-align ng-binding"></p>
                    </div>
                    <div class="col l12">
                        <p class="white-text flow-text ng-binding"></p>
                    </div>
                    <div class="col l12">
                        <p class="flow-text center-align ng-binding" style="color: #ffab40;"> points awarded!</p>
                    </div>
                    <div class="col l6 offset-l6">
                    </div>
                </div>
            </div>
            <div class="modal-footer blue-grey lighten-2">
                <div class="row no-margin-bottom">
                    <div class="col s3 offset-l9">
                        <a class=" right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                            <i class=" material-icons publication-schema-button-icon right white-text">mood</i>Got it!</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="levelUpModal" class="modal modal-fixed-footer" style="width: 55%; height: 55%">
            <div class="modal-content blue-grey darken-2" style="padding-top: 0px; padding-bottom: 0px">
                <div class="row">
                    <div class="col l12">
                        <p style="font-size: 30px; border-bottom: 1px solid rgba(49, 148, 197, 0.59)" class="white-text center-align">You leveled up!</p>
                    </div>
                    <div class="col l12">
                        <p class="white-text flow-text center-align ng-binding">Congratulation, you just reached level </p>
                    </div>
                    <div class="col l12">
                        <p class="flow-text center-align" style="color: #ffab40;">You unlocked:</p>
                        <p class="flow-text left-align white-text ng-binding"></p>

                    </div>
                    <div class="col l6 offset-l6">
                    </div>
                </div>
            </div>
            <div class="modal-footer blue-grey lighten-2">
                <div class="row no-margin-bottom">
                    <div class="col s3 offset-l9">
                        <a class=" right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                            <i class=" material-icons publication-schema-button-icon right white-text">mood</i>Got it!</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
    <div id="authenticationModal" class="modal  modal-fixed-footer white" style="height: 60%; width: 40%">
        <div class="modal-content">
            <div class="row">
                <ul class="tabs" style="font-size: 18px; width: 100%;">
                    <li class="tab col s4">
                        <a class="custom-tab active" href="#signIn">Sign in</a>
                        <div style="left: 0px; right: 50px;" class="indicator custom"></div></li>
                    <li class="tab col s4">
                        <a class="custom-tab" href="#register">Register</a></li>
                <div class="indicator" style="right: 50px; left: 0px;"></div><div class="indicator" style="right: 50px; left: 0px;"></div></ul>
                <div id="signIn">
                    <form name="signInForm" ng-keypress="keyPress($event)" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern">
                        <div class="section">
                            <div class="input-field col s6">
                                <input pattern=".{0,16}" ng-model="signInUsername" id="signInUsername" type="text" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" required="">
                                <label for="signInUsername">Username</label>
                            </div>

                            <div class="input-field col s6"><input ng-model="signInPassword" id="signInPassword" type="password" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required="">
                                <label for="signInPassword">Password</label>

                            </div>
                            <div class="row">
                                <div class="col s6 offset-s3"> <a ng-class="{disabled : signInForm.$invalid}" ng-click="signIn()" class="publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text disabled">
                                    <i class="material-icons publication-schema-button-icon right white-text">person</i>Sign in</a>
                                </div>
                                <div class="col s6 offset-s3"> <a href="/auth/facebook" class="publication-schema-button right waves-effect waves-light remove-shadow btn white-text" style="background-color: #3b5998">
                                    Sign in with Facebook</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="register" style="display: none;">
                    <div class="section">
                        <form name="registerForm" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input pattern=".{0,16}" ng-model="registerUsername" placeholder="(maximum 16)" id="registerUsername" type="text" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" required="">
                                    <label data-error="username length: 1-16" class="active" for="registerUsername">Username</label>
                                </div>
                                <div class="input-field col s6">
                                    <input pattern=".{6,50}" ng-model="registerPassword" placeholder="(minimum 6)" id="registerPassword" type="password" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" required="">
                                    <label data-error="password length: minimum 6" class="active" for="registerPassword">Password</label>
                                </div>
                                <div class="row"></div>
                                <div ng-hide="ongoingRegistrations" class="col s4 offset-s4"> <a ng-class="{disabled : registerForm.$invalid}" ng-click="register()" class="publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text disabled">
                                    <i class="material-icons publication-schema-button-icon right white-text">person_add</i>Register</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer blue-grey lighten-2">
            <div class="row no-margin-bottom">
                <div class="col l9 white-text"><p class="ng-binding"></p></div>
                <div class="col l3"> <a class="right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                    <i class="material-icons publication-schema-button-icon right white-text">close</i>cancel</a></div>

            </div>
        </div>
    </div>

    <div id="logoutModal" class="modal modal-fixed-footer" style="max-height: 30%;">
        <div class="modal-content">
            <div class="row">
                <p class="card-text-blue flow-text" style="font-weight: 400">Would you like to sign out?</p>
            </div>

        </div>
        <div class="modal-footer blue-grey lighten-2">
            <div class="row no-margin-bottom">
                <div class="col s4 offset-s2">
                    <a class="right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                        <i class="material-icons publication-schema-button-icon right white-text">close</i>cancel</a>
                </div>
                <div class="col s4"> <a ng-click="logout()" class="publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text">
                    <i class="material-icons publication-schema-button-icon right white-text">send</i>sign out</a>
                </div>
            </div>
        </div>
    </div></div></div>
</div>

<div class="hiddendiv common"></div></body></html>