<!DOCTYPE html><html ng-app="app" style="margin:0;padding:0;" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <meta charset="UTF-8">
    <title>OA search engine</title>
    <meta name="description" content="A search engine for Open Access scholarly publications, with a crowdsourced curation of the database">
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/Materialize/bin/materialize.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css">
    <link rel="stylesheet" href="bower_components/angular-tooltips/dist/angular-tooltips.min.css">


    <!-- endbower -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/Materialize/bin/materialize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-tooltips/lib/angular-tooltips.js"></script>
    <script src="bower_components/angularUtils-disqus/dirDisqus.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>


    <!-- endbower -->

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="app/style.css">

    <script src="app/main/main.js"></script>
    <script src="app/main/index.js"></script>

    <script src="app/profile/profile.js"></script>
    <script src="app/features/features.js"></script>
    <script src="app/publication/publication.js"></script>
    <script src="app/verification/verification.js"></script>
    <script src="app/add_publication/add_publication.js"></script>
    <script src="app/modify_metadata/modify_metadata.js"></script>
    <script src="app/auth/auth.js"></script>




</head>

<body class="blue-grey lighten-2">

<!-- The navbar on top-->
<div ng-controller="IndexCtrl" class="ng-scope">
    <div class="navbar-fixed">
        <nav>
            <div class="blue-grey lighten-2 lighten-1 nav-wrapper">

                <div class="row">
                    <div class="col l1">
                        <a ui-sref="home" class="brand-logo center" href="#/home">OASearch.com
                            <span class="white-text" style="font-size: 11px"> - a crowdsourced collection of OA scholarly papers</span> </a>
                    </div>
                    <ul>
                        <!-- ngIf: userStats.game.level >= 4 -->
                        <!-- ngIf: userStats.game.level >= 1 -->
                        
                    </ul>
                    <ul class="right nav-mobile walign-wrapper">
                        <a ng-click="openLoginModal()" class="ng-binding">Sign in / register  <img ng-show="signedIn" height="45" width="45" style="vertical-align:middle; border-radius: 30%" class="ng-hide"> <i ng-hide="signedIn" class="material-icons right">account_box</i></a>
                    </ul>
                </div>
            </div>

        </nav>
    </div>

    <div class="row">
        <div class="col s9" style="width: 80%">
            <!-- uiView: --><div ui-view="" class="ng-scope" style=""><div class="row  ng-scope">
    <div class="card white col s12" style="padding-top: 20px">
        <div class="row" style="margin-right: 20px; margin-left: 20px">
            <p class="flow-text card-text-blue left col l8 s12" style="font-weight: 400">Here you can modify all existing metadata, with the exception of the title. The abstract input field supports html-tags.
            </p><p style="margin-bottom: 0px; margin-top: 0px" class="flow-text orange-text left col l8 s12">You have to be level 5 to be able to edit metadata fields which already have a value.</p>
            <p></p><p style="margin-bottom: 0px; margin-top: 0px" class="flow-text orange-text left col l8 s12">You can delete the paper at level 7.</p>

        </div>
        <div class="col s12">
            <p class="card-text-blue" style="font-weight: 600">Title: </p>
            <a style="display: inline;" target="_blank" href="http://ijcsmc.com/docs/papers/October2014/V3I10201427.pdf" ng-bind-html="title" class="blue-grey-text title ng-binding">Research Study on Importance of Usability Testing/ User Experience (UX) Testing﻿</a>
            <i class="material-icons blue-grey-text tiny">open_in_new</i>
        </div>
        <a ng-click="openVerifyPublicationModalMetadata()" class="col s3 offset-s9 right waves-effect waves-light remove-shadow btn blue-grey white-text">
            <i class="material-icons right">delete_forever</i>Verify this publication</a>
        <a ng-click="openDeletePublicationModal()" class=" col s3 offset-s9 right waves-effect waves-light remove-shadow btn red darken-1 white-text">
            <i class="material-icons right">delete_forever</i>Delete this paper</a>
        <div class="col s12 no-padding-left no-padding-right">
            <table class="centered striped z-depth-0">
                <thead>
                <tr>
                    <th class="metadata card-text-blue" data-field="metadata">Metadata</th>
                    <th class="value card-text-blue" data-field="value">Edit</th>
                    <th class="new-value card-text-blue" data-field="value">Save</th>
                </tr>
                </thead>
                <tbody>
                <!-- ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                    <td class="publication-table-padding metadata ng-binding">abstract</td>
                    <td class="publication-table-padding value">
                        <div class="input-field col l12">
                            <textarea style="padding-bottom: 0px; padding-top: 0px" ng-model="input_[key]" ng-init="input_[key] = value" id="input_[key]" class="materialize-textarea ng-pristine ng-untouched ng-valid ng-not-empty"></textarea>
                        </div>
                    </td>
                    <td class="new-value">

                        <div>
                            <!-- tooltips: --><tooltip tooltip-template="Review changes and save" class="tooltips _top _steady _ready"><tip-cont><i ng-click="openConfirmMetadataModal(key, input_[key], value)" class="col s2 material-icons blue-grey-text icon-in-table ng-scope">save</i></tip-cont><tip class=""><tip-tip><span id="close-button" style="display: none;">×</span>Review changes and save</tip-tip><tip-arrow></tip-arrow></tip></tooltip>
                        </div>
                    </td>
                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                    <td class="publication-table-padding metadata ng-binding">authors</td>
                    <td class="publication-table-padding value">
                        <div class="input-field col l12">
                            <textarea style="padding-bottom: 0px; padding-top: 0px" ng-model="input_[key]" ng-init="input_[key] = value" id="input_[key]" class="materialize-textarea ng-pristine ng-untouched ng-valid ng-not-empty"></textarea>
                        </div>
                    </td>
                    <td class="new-value">

                        <div>
                            <!-- tooltips: --><tooltip tooltip-template="Review changes and save" class="tooltips _top _steady _ready"><tip-cont><i ng-click="openConfirmMetadataModal(key, input_[key], value)" class="col s2 material-icons blue-grey-text icon-in-table ng-scope">save</i></tip-cont><tip class=""><tip-tip><span id="close-button" style="display: none;">×</span>Review changes and save</tip-tip><tip-arrow></tip-arrow></tip></tooltip>
                        </div>
                    </td>
                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                    <td class="publication-table-padding metadata ng-binding">doi</td>
                    <td class="publication-table-padding value">
                        <div class="input-field col l12">
                            <textarea style="padding-bottom: 0px; padding-top: 0px" ng-model="input_[key]" ng-init="input_[key] = value" id="input_[key]" class="materialize-textarea ng-pristine ng-untouched ng-valid ng-empty"></textarea>
                        </div>
                    </td>
                    <td class="new-value">

                        <div>
                            <!-- tooltips: --><tooltip tooltip-template="Review changes and save" class="tooltips _top _steady _ready"><tip-cont><i ng-click="openConfirmMetadataModal(key, input_[key], value)" class="col s2 material-icons blue-grey-text icon-in-table ng-scope">save</i></tip-cont><tip class=""><tip-tip><span id="close-button" style="display: none;">×</span>Review changes and save</tip-tip><tip-arrow></tip-arrow></tip></tooltip>
                        </div>
                    </td>
                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                    <td class="publication-table-padding metadata ng-binding">year</td>
                    <td class="publication-table-padding value">
                        <div class="input-field col l12">
                            <textarea style="padding-bottom: 0px; padding-top: 0px" ng-model="input_[key]" ng-init="input_[key] = value" id="input_[key]" class="materialize-textarea ng-pristine ng-untouched ng-valid ng-not-empty"></textarea>
                        </div>
                    </td>
                    <td class="new-value">

                        <div>
                            <!-- tooltips: --><tooltip tooltip-template="Review changes and save" class="tooltips _top _steady _ready"><tip-cont><i ng-click="openConfirmMetadataModal(key, input_[key], value)" class="col s2 material-icons blue-grey-text icon-in-table ng-scope">save</i></tip-cont><tip class=""><tip-tip><span id="close-button" style="display: none;">×</span>Review changes and save</tip-tip><tip-arrow></tip-arrow></tip></tooltip>
                        </div>
                    </td>
                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                    <td class="publication-table-padding metadata ng-binding">pages</td>
                    <td class="publication-table-padding value">
                        <div class="input-field col l12">
                            <textarea style="padding-bottom: 0px; padding-top: 0px" ng-model="input_[key]" ng-init="input_[key] = value" id="input_[key]" class="materialize-textarea ng-pristine ng-untouched ng-valid ng-not-empty"></textarea>
                        </div>
                    </td>
                    <td class="new-value">

                        <div>
                            <!-- tooltips: --><tooltip tooltip-template="Review changes and save" class="tooltips _top _steady _ready"><tip-cont><i ng-click="openConfirmMetadataModal(key, input_[key], value)" class="col s2 material-icons blue-grey-text icon-in-table ng-scope">save</i></tip-cont><tip class=""><tip-tip><span id="close-button" style="display: none;">×</span>Review changes and save</tip-tip><tip-arrow></tip-arrow></tip></tooltip>
                        </div>
                    </td>
                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                    <td class="publication-table-padding metadata ng-binding">journal_title</td>
                    <td class="publication-table-padding value">
                        <div class="input-field col l12">
                            <textarea style="padding-bottom: 0px; padding-top: 0px" ng-model="input_[key]" ng-init="input_[key] = value" id="input_[key]" class="materialize-textarea ng-pristine ng-untouched ng-valid ng-not-empty"></textarea>
                        </div>
                    </td>
                    <td class="new-value">

                        <div>
                            <!-- tooltips: --><tooltip tooltip-template="Review changes and save" class="tooltips _top _steady _ready"><tip-cont><i ng-click="openConfirmMetadataModal(key, input_[key], value)" class="col s2 material-icons blue-grey-text icon-in-table ng-scope">save</i></tip-cont><tip class=""><tip-tip><span id="close-button" style="display: none;">×</span>Review changes and save</tip-tip><tip-arrow></tip-arrow></tip></tooltip>
                        </div>
                    </td>
                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                    <td class="publication-table-padding metadata ng-binding">journal_number</td>
                    <td class="publication-table-padding value">
                        <div class="input-field col l12">
                            <textarea style="padding-bottom: 0px; padding-top: 0px" ng-model="input_[key]" ng-init="input_[key] = value" id="input_[key]" class="materialize-textarea ng-pristine ng-untouched ng-valid ng-not-empty"></textarea>
                        </div>
                    </td>
                    <td class="new-value">

                        <div>
                            <!-- tooltips: --><tooltip tooltip-template="Review changes and save" class="tooltips _top _steady _ready"><tip-cont><i ng-click="openConfirmMetadataModal(key, input_[key], value)" class="col s2 material-icons blue-grey-text icon-in-table ng-scope">save</i></tip-cont><tip class=""><tip-tip><span id="close-button" style="display: none;">×</span>Review changes and save</tip-tip><tip-arrow></tip-arrow></tip></tooltip>
                        </div>
                    </td>
                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                    <td class="publication-table-padding metadata ng-binding">journal_volume</td>
                    <td class="publication-table-padding value">
                        <div class="input-field col l12">
                            <textarea style="padding-bottom: 0px; padding-top: 0px" ng-model="input_[key]" ng-init="input_[key] = value" id="input_[key]" class="materialize-textarea ng-pristine ng-untouched ng-valid ng-not-empty"></textarea>
                        </div>
                    </td>
                    <td class="new-value">

                        <div>
                            <!-- tooltips: --><tooltip tooltip-template="Review changes and save" class="tooltips _top _steady _ready"><tip-cont><i ng-click="openConfirmMetadataModal(key, input_[key], value)" class="col s2 material-icons blue-grey-text icon-in-table ng-scope">save</i></tip-cont><tip class=""><tip-tip><span id="close-button" style="display: none;">×</span>Review changes and save</tip-tip><tip-arrow></tip-arrow></tip></tooltip>
                        </div>
                    </td>
                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                    <td class="publication-table-padding metadata ng-binding">flaggedReason</td>
                    <td class="publication-table-padding value">
                        <div class="input-field col l12">
                            <textarea style="padding-bottom: 0px; padding-top: 0px" ng-model="input_[key]" ng-init="input_[key] = value" id="input_[key]" class="materialize-textarea ng-pristine ng-untouched ng-valid ng-empty"></textarea>
                        </div>
                    </td>
                    <td class="new-value">

                        <div>
                            <!-- tooltips: --><tooltip tooltip-template="Review changes and save" class="tooltips _top _steady _ready"><tip-cont><i ng-click="openConfirmMetadataModal(key, input_[key], value)" class="col s2 material-icons blue-grey-text icon-in-table ng-scope">save</i></tip-cont><tip class=""><tip-tip><span id="close-button" style="display: none;">×</span>Review changes and save</tip-tip><tip-arrow></tip-arrow></tip></tooltip>
                        </div>
                    </td>
                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                    <td class="publication-table-padding metadata ng-binding">publisher</td>
                    <td class="publication-table-padding value">
                        <div class="input-field col l12">
                            <textarea style="padding-bottom: 0px; padding-top: 0px" ng-model="input_[key]" ng-init="input_[key] = value" id="input_[key]" class="materialize-textarea ng-pristine ng-untouched ng-valid ng-empty"></textarea>
                        </div>
                    </td>
                    <td class="new-value">

                        <div>
                            <!-- tooltips: --><tooltip tooltip-template="Review changes and save" class="tooltips _top _steady _ready"><tip-cont><i ng-click="openConfirmMetadataModal(key, input_[key], value)" class="col s2 material-icons blue-grey-text icon-in-table ng-scope">save</i></tip-cont><tip class=""><tip-tip><span id="close-button" style="display: none;">×</span>Review changes and save</tip-tip><tip-arrow></tip-arrow></tip></tooltip>
                        </div>
                    </td>
                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                    <td class="publication-table-padding metadata ng-binding">ISSN</td>
                    <td class="publication-table-padding value">
                        <div class="input-field col l12">
                            <textarea style="padding-bottom: 0px; padding-top: 0px" ng-model="input_[key]" ng-init="input_[key] = value" id="input_[key]" class="materialize-textarea ng-pristine ng-untouched ng-valid ng-empty"></textarea>
                        </div>
                    </td>
                    <td class="new-value">

                        <div>
                            <!-- tooltips: --><tooltip tooltip-template="Review changes and save" class="tooltips _top _steady _ready"><tip-cont><i ng-click="openConfirmMetadataModal(key, input_[key], value)" class="col s2 material-icons blue-grey-text icon-in-table ng-scope">save</i></tip-cont><tip class=""><tip-tip><span id="close-button" style="display: none;">×</span>Review changes and save</tip-tip><tip-arrow></tip-arrow></tip></tooltip>
                        </div>
                    </td>
                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                    <td class="publication-table-padding metadata ng-binding">eISSN</td>
                    <td class="publication-table-padding value">
                        <div class="input-field col l12">
                            <textarea style="padding-bottom: 0px; padding-top: 0px" ng-model="input_[key]" ng-init="input_[key] = value" id="input_[key]" class="materialize-textarea ng-pristine ng-untouched ng-valid ng-empty"></textarea>
                        </div>
                    </td>
                    <td class="new-value">

                        <div>
                            <!-- tooltips: --><tooltip tooltip-template="Review changes and save" class="tooltips _top _steady _ready"><tip-cont><i ng-click="openConfirmMetadataModal(key, input_[key], value)" class="col s2 material-icons blue-grey-text icon-in-table ng-scope">save</i></tip-cont><tip class=""><tip-tip><span id="close-button" style="display: none;">×</span>Review changes and save</tip-tip><tip-arrow></tip-arrow></tip></tooltip>
                        </div>
                    </td>
                </tr><!-- end ngRepeat: (key, value) in publication -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="confirmMetadataChange" class="modal modal-fixed-footer ng-scope">
    <div class="modal-content">
        <div class="row">
            <p class="card-text-blue flow-text ng-binding" style="font-weight: 400">Are you sure you want to change the for?</p>
            <p class="card-text-blue flow-text" style="font-weight: 400; margin-bottom: 5px">Previous value:</p>
            <blockquote style="margin-top: 0px" class="ng-binding">
                
            </blockquote>
            <p class="card-text-blue flow-text" style="font-weight: 400; margin-bottom: 5px">New value:</p>
            <blockquote style="margin-top: 0px" class="ng-binding">
                
            </blockquote>
        </div>
    </div>
    <div class="modal-footer blue-grey lighten-2">
        <div class="row no-margin-bottom">
            <div class="col s6">
                <a class=" right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                    <i class=" material-icons publication-schema-button-icon right white-text">close</i>cancel</a>
            </div>
            <div class="col s6">
                <a ng-click="saveMetadata()" class=" right waves-effect waves-light remove-shadow btn red darken-1 white-text">
                    <i class="material-icons right">save</i>Confirm change</a>
            </div>
        </div>
    </div>
</div>
<div id="deletePublicationModal" class="modal modal-fixed-footer ng-scope">
    <div class="modal-content">
        <div class="row">
            <p class="card-text-blue flow-text" style="font-weight: 400">Are you sure you want to delete this paper?</p>
        </div>
    </div>
    <div class="modal-footer blue-grey lighten-2">
        <div class="row no-margin-bottom">
            <div class="col s6">
                <a class=" right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                    <i class=" material-icons publication-schema-button-icon right white-text">close</i>cancel</a>
            </div>
            <div class="col s6">
                <a ng-click="deletePublication()" class=" right waves-effect waves-light remove-shadow btn red darken-1 white-text">
                    <i class="material-icons right">delete_forever</i>Delete this paper</a>
            </div>
        </div>
    </div>
</div>
<div id="verifyPublicationModalMetadata" class="modal modal-fixed-footer ng-scope">
    <div class="modal-content">
        <div class="row">
            <p class="card-text-blue flow-text" style="font-weight: 400">Are you sure you want to accept this paper? Remember, you could always delete or modify it later!</p>
        </div>
    </div>
    <div class="modal-footer blue-grey lighten-2">
        <div class="row no-margin-bottom">
            <div class="col s6">
                <a class="right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                    <i class=" material-icons publication-schema-button-icon right white-text">close</i>cancel</a>
            </div>
            <div class="col s6">
                <a ng-click="verifyPublication()" class="right waves-effect waves-light remove-shadow btn blue-grey white-text">
                    <i class="material-icons right">check_circle</i>verify this paper</a>
            </div>
        </div>
    </div>
</div>

</div>
        </div>
        <div class="col s3" style="padding-left: 0px; padding-right: 0px; width: 20%">
            <div class="row">
                <div class="col l12" style="padding-left: 0px">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <div class="row">
                                <div class="col l12" style="padding-left: 0px; padding-right: 0px">
                                    <div class="col l12">
                                        <h5 class="center-align">Your progress</h5>
                                    </div>
                                    <div class="col l12">
                                        <p class="center-align ng-binding">Level 1 0 | 2000 points</p>
                                    </div>
                                    <div style="padding-bottom: 10px; border-bottom: 1px solid rgb(99, 120, 130);" class="col l12">
                                        <p class="center-align ng-binding"> 50/ 100 points</p>
                                    </div>
                                    <row>
                                        <div style="padding-bottom: 0px; padding-top: 10px" class="col l6"><p class="ng-binding">Lvl: 0</p></div>
                                        <div style="padding-bottom: 0px; padding-top: 10px" class="col l6 right-align ng-binding">Next lvl: 1</div>
                                    </row>
                                    <div class="col l12 progress" style="margin-bottom: 5px; margin-top: 0px">
                                        <div id="progression" class="determinate" ng-style="{'width' : userStats.game.progressToNextLevel + '%'}" style="width: 0%;"></div>
                                    </div>

                                    <row>
                                        <div style=" padding-bottom:10px; border-bottom: 1px solid rgb(99, 120, 130);" class="col l12"><p>Next unlock: <span class="blue-grey-text lighten-2 ng-binding">A fictive unlock</span></p></div>
                                    </row>
                                    <div class="col l8 offset-l2" style="border-bottom: 1px solid rgba(49, 148, 197, 0.59);margin-top: 15px"><p style="font-size: 18px" class="center-align">Latest points earned</p> </div>
                                    <div class="col l12">
                                        <ul style="margin-bottom: 0px; margin-top: 5px">
                                            <li><p>Some event</p></li>
                                            <!-- ngRepeat: event in userStats.game.eventText.slice(length(userStats.game.eventText) - 5, length(userStats.game.eventText)).reverse() track by $index | limitTo: 5 -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action" style="border-top: 1px solid rgba(49, 148, 197, 0.59)">
                                <ul>
                                    <li style="margin-bottom: 10px">
                                        <a ui-sref="profile" href="#/profile">View all stats</a>
                                    </li>
                                    <li>
                                        <a ui-sref="features" href="#/features">How do i earn more points?</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ngIf: userStats.game.level == 0 --><div class="row ng-scope" ng-if="userStats.game.level == 0">
                <div class="col l12" style="padding-left: 0px">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <div class="row">
                                <div class="col l12" style="padding-left: 0px; padding-right: 0px">
                                    <div class="col l12">
                                        <h5 class="left-align">Register to track your contributions, progress through levels and gain privileges!</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action" style="border-top: 1px solid rgba(49, 148, 197, 0.59); padding-bottom: 5px">
                                <ul style="margin-bottom: 0px; margin-top: 0px">
                                    <li>
                                        <a ui-sref="features" href="#/features">What can i do once registered?</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end ngIf: userStats.game.level == 0 -->
        </div>
        <footer class="page-footer blue-grey lighten-2">
            <div class="container">
                <div class="row">
                    <div class="col l12 s12">
                        <h5 class="white-text"></h5>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col l4">
                            <a class="grey-text text-lighten-4 right" href="#!">Terms of use</a>
                        </div>
                        <div class="col l4">
                            <a class="grey-text text-lighten-4 right" href="#!">Privacy policy</a>
                        </div>
                        <div class="col l4">
                            <a class="grey-text text-lighten-4 right" href="#!">About us</a>
                        </div>
                    </div>

                </div>
            </div>
        </footer>

        <div id="eventModal" class="modal modal-fixed-footer" style="width: 60%; height: 60%">
            <div class="modal-content blue-grey darken-2" style="padding-top: 0px; padding-bottom: 0px">
                <div class="row">
                    <div class="col l12">
                        <p style="font-size: 30px; border-bottom: 1px solid rgba(49, 148, 197, 0.59)" class="white-text center-align ng-binding"></p>
                    </div>
                    <div class="col l12">
                        <p class="white-text flow-text ng-binding"></p>
                    </div>
                    <div class="col l12">
                        <p class="flow-text center-align ng-binding" style="color: #ffab40;"> points awarded!</p>
                    </div>
                    <div class="col l6 offset-l6">
                    </div>
                </div>
            </div>
            <div class="modal-footer blue-grey lighten-2">
                <div class="row no-margin-bottom">
                    <div class="col s3 offset-l9">
                        <a class=" right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                            <i class=" material-icons publication-schema-button-icon right white-text">mood</i>Got it!</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="levelUpModal" class="modal modal-fixed-footer" style="width: 55%; height: 55%">
            <div class="modal-content blue-grey darken-2" style="padding-top: 0px; padding-bottom: 0px">
                <div class="row">
                    <div class="col l12">
                        <p style="font-size: 30px; border-bottom: 1px solid rgba(49, 148, 197, 0.59)" class="white-text center-align">You leveled up!</p>
                    </div>
                    <div class="col l12">
                        <p class="white-text flow-text center-align ng-binding">Congratulation, you just reached level </p>
                    </div>
                    <div class="col l12">
                        <p class="flow-text center-align" style="color: #ffab40;">You unlocked:</p>
                        <p class="flow-text left-align white-text ng-binding"></p>

                    </div>
                    <div class="col l6 offset-l6">
                    </div>
                </div>
            </div>
            <div class="modal-footer blue-grey lighten-2">
                <div class="row no-margin-bottom">
                    <div class="col s3 offset-l9">
                        <a class=" right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                            <i class=" material-icons publication-schema-button-icon right white-text">mood</i>Got it!</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
    <div id="authenticationModal" class="modal  modal-fixed-footer white" style="height: 60%; width: 40%">
        <div class="modal-content">
            <div class="row">
                <ul class="tabs" style="font-size: 18px; width: 100%;">
                    <li class="tab col s4">
                        <a class="custom-tab active" href="#signIn">Sign in</a>
                        <div style="left: 0px; right: 50px;" class="indicator custom"></div></li>
                    <li class="tab col s4">
                        <a class="custom-tab" href="#register">Register</a></li>
                <div class="indicator" style="right: 50px; left: 0px;"></div><div class="indicator" style="right: 50px; left: 0px;"></div></ul>
                <div id="signIn">
                    <form name="signInForm" ng-keypress="keyPress($event)" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern">
                        <div class="section">
                            <div class="input-field col s6">
                                <input pattern=".{0,16}" ng-model="signInUsername" id="signInUsername" type="text" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" required="">
                                <label for="signInUsername">Username</label>
                            </div>

                            <div class="input-field col s6"><input ng-model="signInPassword" id="signInPassword" type="password" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required="">
                                <label for="signInPassword">Password</label>

                            </div>
                            <div class="row">
                                <div class="col s6 offset-s3"> <a ng-class="{disabled : signInForm.$invalid}" ng-click="signIn()" class="publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text disabled">
                                    <i class="material-icons publication-schema-button-icon right white-text">person</i>Sign in</a>
                                </div>
                                <div class="col s6 offset-s3"> <a href="/auth/facebook" class="publication-schema-button right waves-effect waves-light remove-shadow btn white-text" style="background-color: #3b5998">
                                    Sign in with Facebook</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="register" style="display: none;">
                    <div class="section">
                        <form name="registerForm" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input pattern=".{0,16}" ng-model="registerUsername" placeholder="(maximum 16)" id="registerUsername" type="text" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" required="">
                                    <label data-error="username length: 1-16" class="active" for="registerUsername">Username</label>
                                </div>
                                <div class="input-field col s6">
                                    <input pattern=".{6,50}" ng-model="registerPassword" placeholder="(minimum 6)" id="registerPassword" type="password" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" required="">
                                    <label data-error="password length: minimum 6" class="active" for="registerPassword">Password</label>
                                </div>
                                <div class="row"></div>
                                <div ng-hide="ongoingRegistrations" class="col s4 offset-s4"> <a ng-class="{disabled : registerForm.$invalid}" ng-click="register()" class="publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text disabled">
                                    <i class="material-icons publication-schema-button-icon right white-text">person_add</i>Register</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer blue-grey lighten-2">
            <div class="row no-margin-bottom">
                <div class="col l9 white-text"><p class="ng-binding"></p></div>
                <div class="col l3"> <a class="right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                    <i class="material-icons publication-schema-button-icon right white-text">close</i>cancel</a></div>

            </div>
        </div>
    </div>

    <div id="logoutModal" class="modal modal-fixed-footer" style="max-height: 30%;">
        <div class="modal-content">
            <div class="row">
                <p class="card-text-blue flow-text" style="font-weight: 400">Would you like to sign out?</p>
            </div>

        </div>
        <div class="modal-footer blue-grey lighten-2">
            <div class="row no-margin-bottom">
                <div class="col s4 offset-s2">
                    <a class="right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                        <i class="material-icons publication-schema-button-icon right white-text">close</i>cancel</a>
                </div>
                <div class="col s4"> <a ng-click="logout()" class="publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text">
                    <i class="material-icons publication-schema-button-icon right white-text">send</i>sign out</a>
                </div>
            </div>
        </div>
    </div></div></div>
</div>

<div class="hiddendiv common"></div><div id="toast-container"><div class="toast" style="-webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); top: 0px; opacity: 1;">You need to be signed in to use this functionality</div></div></body></html>