<!DOCTYPE html><html ng-app="app" style="margin:0;padding:0;" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <meta charset="UTF-8">
    <title>OA search engine</title>
    <meta name="description" content="A search engine for Open Access scholarly publications, with a crowdsourced curation of the database">
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/Materialize/bin/materialize.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css">
    <link rel="stylesheet" href="bower_components/angular-tooltips/dist/angular-tooltips.min.css">


    <!-- endbower -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/Materialize/bin/materialize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-tooltips/lib/angular-tooltips.js"></script>
    <script src="bower_components/angularUtils-disqus/dirDisqus.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>


    <!-- endbower -->

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="app/style.css">

    <script src="app/main/main.js"></script>
    <script src="app/main/index.js"></script>

    <script src="app/profile/profile.js"></script>
    <script src="app/features/features.js"></script>
    <script src="app/publication/publication.js"></script>
    <script src="app/verification/verification.js"></script>
    <script src="app/add_publication/add_publication.js"></script>
    <script src="app/modify_metadata/modify_metadata.js"></script>
    <script src="app/auth/auth.js"></script>




<script type="text/javascript" async="" src="//oasearch.disqus.com/embed.js"></script><script src="//a.disquscdn.com/next/embed/alfie.f51946af45e0b561c60f768335c9eb79.js" async="" charset="UTF-8"></script></head>

<body class="blue-grey lighten-2">

<!-- The navbar on top-->
<div ng-controller="IndexCtrl" class="ng-scope">
    <div class="navbar-fixed">
        <nav>
            <div class="blue-grey lighten-2 lighten-1 nav-wrapper">

                <div class="row">
                    <div class="col l1">
                        <a ui-sref="home" class="brand-logo center" href="#/home">OASearch.com
                            <span class="white-text" style="font-size: 11px"> - a crowdsourced collection of OA scholarly papers</span> </a>
                    </div>
                    <ul>
                        <!-- ngIf: userStats.game.level >= 4 -->
                        <!-- ngIf: userStats.game.level >= 1 -->
                        
                    </ul>
                    <ul class="right nav-mobile walign-wrapper">
                        <a ng-click="openLoginModal()" class="ng-binding">Sign in / register  <img ng-show="signedIn" height="45" width="45" style="vertical-align:middle; border-radius: 30%" class="ng-hide"> <i ng-hide="signedIn" class="material-icons right">account_box</i></a>
                    </ul>
                </div>
            </div>

        </nav>
    </div>

    <div class="row">
        <div class="col s9" style="width: 80%">
            <!-- uiView: --><div ui-view="" class="ng-scope" style=""><div class="row  ng-scope">
    <div class="col s12 l10 offset-l2">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <h5 class="center-align">Not yet verified</h5>
                <p class="center-align" style="margin-bottom: 10px">This paper must be verified by a separate user from the one who submitted it, before is is displayed when searching.</p>
                <div class="row">
                    <div class="col l4 offset-l4">
                        <a ng-click="goToVerificationList()" class="waves-effect waves-light remove-shadow btn blue-grey white-text">
                            <i class="material-icons right white-text">done</i>verify papers</a>
                    </div>
                    <div class="col l4">
                        <a ng-click="verifyPublication()" class=" waves-effect waves-light remove-shadow btn blue-grey white-text">
                            <i class="material-icons right white-text">done</i>verify this paper</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 l10 offset-l2">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <h5 class="center-align">This publication has been flagged for moderation.</h5>
                <p class="center-align">Reason:</p>
                    <p class="center-align ng-binding" style="margin-bottom: 10px;"></p>
                <div class="row" style="margin-bottom: 0px">
                    <div class="col l4 offset-l4">
                        <a ng-click="openRemoveFlagModal()" class="waves-effect waves-light remove-shadow btn blue-grey white-text">
                            <i class="material-icons right white-text">done</i>Remove flag</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 l10 offset-l2 no-padding-left no-padding-right">
        <div class="card white" style="margin-bottom: 8px">
            <div class="card-content publication-card-bottom-border blue-grey lighten-5 no-padding-bottom">
                <div class="col s12">
                    <div class="left">
                        <a style="display: inline; font-size: 18px" target="_blank" href="http://ijcsmc.com/docs/papers/October2014/V3I10201427.pdf" ng-bind-html="publication.publication_title" class="blue-grey-text title ng-binding">Research Study on Importance of Usability Testing/ User Experience (UX) Testing﻿</a>
                        <i class="material-icons blue-grey-text tiny">open_in_new</i>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0px">
                    <div class="col s9 ng-binding" style="padding-bottom: 5px; font-size: 17px">

                        <p class="sub-title">Metadata</p>
                        <span class="card-text-blue">Journal, year:</span> International Journal of Computer Science and Mobile Computing, 2014
                        <br><span class="card-text-blue">Publisher: </span>  
                        <br><span class="card-text-blue">Authors:</span> Niranjanamurthy M ; Archikam Nagaraj ; Himaja Gattu ; Puneeth K Shetty﻿
                    </div>
                    <div class="col s3 add-border-left ng-binding" style="font-size: 16px">
                        <p class="sub-title">Highest rated version</p>
                        <span class="card-text-blue">Included:</span> 2016-04-22 00:32
                        <br><span class="card-text-blue">Version:</span><!-- ngIf: (topVersion.type != '' || topVersion.type != undefined) --><span ng-if="(topVersion.type != '' || topVersion.type != undefined)" class="ng-binding ng-scope"> unknown</span><!-- end ngIf: (topVersion.type != '' || topVersion.type != undefined) --><!-- ngIf: (topVersion.type == '' || topVersion.type == undefined) -->
                        <br><span class="card-text-blue">Added by user:</span> OAsearch
                        <br>
                    </div>
                    <div class="col s12" style="padding-left: 0px; padding-right: 0px">
                        <div class="col l3">
                            <a ng-click="goToModifyMetadata()" class="right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                                <i class="material-icons publication-schema-button-icon right white-text">edit</i>Edit metadata</a>
                        </div>
                        <div class="col l3">
                            <a ng-click="openFlagForModerationModal()" class="right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                                <i class="material-icons publication-schema-button-icon right white-text">flag</i>Flag for moderation</a>
                        </div>
                        <div class="col l3 offset-l3">
                            <div> <div><a ng-click="openVersionModal()" class=" right waves-effect waves-light remove-shadow btn blue-grey white-text"><i class="material-icons right white-text">note_add</i>Add a version</a><div id="versionModal" class="modal publication-modal modal-fixed-footer" style="min-height : 30%"><form class="modal-content ng-pristine ng-invalid ng-invalid-required"><h5 class="blue-grey-text">Please use a link to the landing page of the paper<br> you wish to add!</h5><div class="row"><div class="input-field col s12"><input ng-model="formLink" placeholder="Please paste a link to the paper" id="link" type="text" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required=""><label class="active" for="link">link to the paper</label></div><div class="row ng-binding"><div class="col s5 grey-text"><span class="grey-text" style="font-size: 0.8rem;"> Select a predefined type, or specify yourselves</span><select ng-change="checkVersion()" class="browser-default ng-pristine ng-untouched ng-valid ng-empty" ng-model="typeSelect"><option value="">optional</option><option value="version of record"> version of record</option><option value="draft">draft</option><option value="specify">specify</option><option value="unknown">unknown</option></select></div><div ng-switch="typeSelect"><!-- ngSwitchWhen: specify --></div></div></div></form><div class="modal-footer blue-grey lighten-2"><div class="row no-margin-bottom"><div class="col l6 s12 white-text ng-binding" style="padding-left: 20px">Pasting a link is mandatory</div><div class="col l2 s6 offset-l2"> <a class="right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text"><i class="material-icons publication-schema-button-icon right white-text">close</i>cancel</a></div><div class="col l2 s6"> <a ng-class="{disabled : versionForm.$invalid}" ng-click="submit()" class="publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text"><i class="material-icons publication-schema-button-icon right white-text">send</i>submit</a></div></div></div></div></div> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-margin-bottom">
                <div class="col l12">
                    <ul class="collapsible z-depth-0 no-margin-bottom remove-borders blue-grey-text" ng-click="changeIcon()" data-collapsible="accordion z-depth-0">
                        <li>
                            <div class="collapsible-header"><i class="material-icons icon-remove-margin-right ng-binding">expand_more</i>Preview abstract</div>
                            <div class="collapsible-body black-text padd-all-sides ng-binding" ng-bind-html="publication.abstract" style="border-bottom: 0">This paper gives the information regarding Usability testing. How user interacts with the system testing? Usability means the software’s capability to be learned and understood easily and how attractive it looks to the consumer. Usability Testing is one of the black box testing technique. Usability testing tests features of the software like: How easy it is to use the software? How easy it is to learn the software? How convenient is the software to end user? Usability is the measure of a product's potential to fulfil the requirement user. In information technology, the term usability used in terms to software applications and Web sites, but it can be used in terms of any product that is employed to accomplish a task (Some of the examples are, a car dashboard, a toaster, or an alarm clock). Some outcomes used in determining product usability are user interface, visual consistency, and a clear, defined process for evolution. This paper we discussed Usability, Usability testing process, Usability Testing Components, evaluation methods, User experience importance, advantages and disadvantages of Usability testing.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 l10 offset-l2 no-padding-left no-padding-right">
        <div class="card white" style="padding-bottom: 1px;">
            <div class="card-content no-padding-bottom">
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs" style="font-size: 20px; width: 100%;">
                            <li class="tab col s4"><a class="custom-tab active" href="#alternativeVersions">Alternative versions</a></li>
                            <li class="tab col s4"><a class="custom-tab" href="#allMetadata">All available metadata</a></li>
                            <li class="tab col s4"><a class="custom-tab" href="#social">Discussion</a></li>
                        <div class="indicator" style="right: 172px; left: 0px;"></div></ul>
                    </div>
                </div>
                <div style="margin-right: 20px; margin-left: 20px;">
                    <div id="alternativeVersions">
                        <div class="row">
                            <div class="col l12">
                                <p style="font-size: 16px; color: #3194C5">Papers are published in various versions (drafts, preprints, postprints, publishers' versions),
                                    with varying quality on different locations on the internet (sources). We want to collect these and ensure that people can find the best version / source of each paper.
                                    As a user, you are enabled to contribute by adding such versions / sources (level 2 required), and cast your vote for the one you think has the overall
                                    highest quality. The highest rated version / source of a paper is displayed by default when shown as a result of a search.</p>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="input-field col s3 no-margin-top">
                                <select ng-model="selectOrder" class="browser-default grey-text ng-pristine ng-untouched ng-valid ng-empty">
                                    <option value="" disabled="" selected="">Sort on:</option>
                                    <option value="-voteSum">Highest rating</option>
                                    <option value="-date_added">Most recently added</option>
                                </select>
                            </div>
                            <div class="input-field col s3 no-margin-top">
                                <i class="material-icons prefix blue-grey-text active" style="padding-top: 10px; padding-left: 10px; ">search</i>
                                <input ng-model="filterBox" placeholder="filter" id="0" type="text" class="ng-pristine ng-untouched ng-valid ng-empty">
                            </div>
                            <!-- ngIf: gameUser.game.level >= 2 -->
                            <div class="row">
                                <ul class="no-margin-bottom">
                                    <div class="col l12 no-padding-left no-padding-right">
                                        <li>
                                            <!-- ngRepeat: version in publication.versions
                                            | filter:filterBox:version.link | filter:version.type | filter:filterBox:version.date_added
                                            | orderBy:selectOrder --><div class="card-panel card-version col s12 ng-scope" ng-repeat="version in publication.versions
                                            | filter:filterBox:version.link | filter:version.type | filter:filterBox:version.date_added
                                            | orderBy:selectOrder">
                                                <div class="row no-margin-bottom" id="0">
                                                    <div class="col l9">
                                                        <div class="left" style="padding-top: 5px; font-size: 16px">
                                                            <a target="_blank" href="http://ijcsmc.com/docs/papers/October2014/V3I10201427.pdf" class="blue-grey-text title">Open this version of the paper<i class="material-icons icon-link blue-grey-text tiny">open_in_new</i></a>
                                                            <br><span class="card-text-blue">Type of version: </span><!-- ngIf: version.type != '' --><span ng-if="version.type != ''" class="grey-text text-darken-2 ng-binding ng-scope">unknown</span><!-- end ngIf: version.type != '' --><!-- ngIf: version.type == '' -->
                                                            <br><span class="card-text-blue">Date added, added by: </span><span class="grey-text text-darken-2 ng-binding">2016-04-22 00:32, OAsearch</span>
                                                            <br><span class="card-text-blue">URL to this version: </span><span class="grey-text text-darken-2 ng-binding">http://ijcsmc.com/docs/papers/October2014/V3I10201427.pdf</span>
                                                        </div>
                                                    </div>

                                                    <div class="col l3 add-border-left no-padding-right">
                                                        <vote-button pub="publication" pid="publication._id" vid="version._id" type="'upvote'" class="ng-isolate-scope"><a ng-disabled="!authorizationLevel" class=" right waves-effect waves-light remove-shadow btn blue-grey white-text" ng-click="registerVote()" disabled="disabled"><i class="material-icons right white-text ng-binding" style="margin-left: 0px">thumb_up</i>vote up</a></vote-button>
                                                        <br><vote-button pub="publication" pid="publication._id" vid="version._id" type="'downvote'" class="ng-isolate-scope"><a ng-disabled="!authorizationLevel" class=" right waves-effect waves-light remove-shadow btn blue-grey white-text" ng-click="registerVote()" disabled="disabled"><i class="material-icons right white-text ng-binding" style="margin-left: 0px">thumb_down</i>vote down</a></vote-button>
                                                        <p class="center grey-text text-darken-2 ng-binding" style="font-size: 12px; margin-bottom: 0px">0 upvote(s), 0 downvote(s)</p>
                                                    </div>
                                                </div>
                                            </div><!-- end ngRepeat: version in publication.versions
                                            | filter:filterBox:version.link | filter:version.type | filter:filterBox:version.date_added
                                            | orderBy:selectOrder -->
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="allMetadata" style="display: none;">
                        <div class="row">
                            <div class="col s12 ">
                                <p style="font-size: 16px; color: #3194C5">Having correct and extensive metadata on papers is important for ensuring that users find them when searching. Therefore, you can and edit faulty metadata (level 5 required) and add the fields that are missing (level 2 required).</p>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <a ng-click="goToModifyMetadata()" style="margin-top: 15px; margin-right: 10px" class=" col s3 right waves-effect waves-light remove-shadow btn blue-grey white-text">
                                <i class="material-icons right white-text">edit</i>Edit metadata</a>
                            <div class="row">
                                <div class="col s12 no-padding-left no-padding-right">
                                    <table class="centered bordered z-depth-0">
                                        <thead>
                                        <tr>
                                            <th class="metadata-pub grey-text">metadata</th>
                                            <th class="value-pub grey-text">value</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!-- ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding metadata-pub ng-hide"><span class="card-text-blue ng-binding">_id</span></td>
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding value-pub ng-hide"><span ng-bind-html="value" class="ng-binding">57196cc4947bfcd58a487a2a</span></td>
                                        </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding metadata-pub ng-hide"><span class="card-text-blue ng-binding">verified</span></td>
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding value-pub ng-hide"><span ng-bind-html="value" class="ng-binding">true</span></td>
                                        </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding metadata-pub"><span class="card-text-blue ng-binding">publication_title</span></td>
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding value-pub"><span ng-bind-html="value" class="ng-binding">Research Study on Importance of Usability Testing/ User Experience (UX) Testing﻿</span></td>
                                        </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding metadata-pub"><span class="card-text-blue ng-binding">abstract</span></td>
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding value-pub"><span ng-bind-html="value" class="ng-binding">This paper gives the information regarding Usability testing. How user interacts with the system testing? Usability means the software’s capability to be learned and understood easily and how attractive it looks to the consumer. Usability Testing is one of the black box testing technique. Usability testing tests features of the software like: How easy it is to use the software? How easy it is to learn the software? How convenient is the software to end user? Usability is the measure of a product's potential to fulfil the requirement user. In information technology, the term usability used in terms to software applications and Web sites, but it can be used in terms of any product that is employed to accomplish a task (Some of the examples are, a car dashboard, a toaster, or an alarm clock). Some outcomes used in determining product usability are user interface, visual consistency, and a clear, defined process for evolution. This paper we discussed Usability, Usability testing process, Usability Testing Components, evaluation methods, User experience importance, advantages and disadvantages of Usability testing.</span></td>
                                        </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding metadata-pub"><span class="card-text-blue ng-binding">authors</span></td>
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding value-pub"><span ng-bind-html="value" class="ng-binding">Niranjanamurthy M ; Archikam Nagaraj ; Himaja Gattu ; Puneeth K Shetty﻿</span></td>
                                        </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding metadata-pub ng-hide"><span class="card-text-blue ng-binding">doi</span></td>
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding value-pub ng-hide"><span ng-bind-html="value" class="ng-binding"></span></td>
                                        </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding metadata-pub ng-hide"><span class="card-text-blue ng-binding">link</span></td>
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding value-pub ng-hide"><span ng-bind-html="value" class="ng-binding">http://ijcsmc.com/docs/papers/October2014/V3I10201427.pdf</span></td>
                                        </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding metadata-pub"><span class="card-text-blue ng-binding">year</span></td>
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding value-pub"><span ng-bind-html="value" class="ng-binding">2014</span></td>
                                        </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding metadata-pub"><span class="card-text-blue ng-binding">pages</span></td>
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding value-pub"><span ng-bind-html="value" class="ng-binding">78 -</span></td>
                                        </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding metadata-pub"><span class="card-text-blue ng-binding">journal_title</span></td>
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding value-pub"><span ng-bind-html="value" class="ng-binding">International Journal of Computer Science and Mobile Computing</span></td>
                                        </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding metadata-pub"><span class="card-text-blue ng-binding">journal_number</span></td>
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding value-pub"><span ng-bind-html="value" class="ng-binding">10</span></td>
                                        </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding metadata-pub"><span class="card-text-blue ng-binding">journal_volume</span></td>
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding value-pub"><span ng-bind-html="value" class="ng-binding">3</span></td>
                                        </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding metadata-pub ng-hide"><span class="card-text-blue ng-binding">__v</span></td>
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding value-pub ng-hide"><span ng-bind-html="value" class="ng-binding">0</span></td>
                                        </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding metadata-pub ng-hide"><span class="card-text-blue ng-binding">versions</span></td>
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding value-pub ng-hide"><span ng-bind-html="value" class="ng-binding">[object Object]</span></td>
                                        </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding metadata-pub ng-hide"><span class="card-text-blue ng-binding">flaggedReason</span></td>
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding value-pub ng-hide"><span ng-bind-html="value" class="ng-binding"></span></td>
                                        </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding metadata-pub ng-hide"><span class="card-text-blue ng-binding">eventText</span></td>
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding value-pub ng-hide"><span ng-bind-html="value" class="ng-binding"></span></td>
                                        </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding metadata-pub ng-hide"><span class="card-text-blue ng-binding">date_added</span></td>
                                            <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding value-pub ng-hide"><span ng-bind-html="value" class="ng-binding">2016-04-22 02:13</span></td>
                                        </tr><!-- end ngRepeat: (key, value) in publication -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="social" style="display: none;">
                        <div class="row">
                            <div class="col s12 ">
                                <p style="font-size: 16px; color: #3194C5">Discuss anything that has to do with this paper! Do you like the content of it? Should a better version be found? Want to suggest a better paper on the subject? </p>
                            </div>
                            <div class="divider"></div>
                            <div class="row">
                                <div class="col s12">
                                    <dir-disqus config="disqusConfig" class="ng-isolate-scope"><div id="disqus_thread"><iframe id="dsq-app2" name="dsq-app2" allowtransparency="true" frameborder="0" scrolling="no" tabindex="0" title="Disqus" width="100%" src="http://disqus.com/embed/comments/?base=default&amp;version=f38c9d1f2e5f0648776679151fe5c508&amp;f=oasearch&amp;t_i=57196cc4947bfcd58a487a2a&amp;t_u=http%3A%2F%2Flocalhost%3A8080%2F%23%2Fpublication%2F57196cc4947bfcd58a487a2a&amp;t_d=OA%20search%20engine&amp;t_t=OA%20search%20engine&amp;s_o=default" style="width: 1px !important; min-width: 100% !important; border: none !important; overflow: hidden !important; height: 988px !important;" horizontalscrolling="no" verticalscrolling="no"></iframe></div></dir-disqus>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="flagModal" class="modal modal-fixed-footer">
            <div class="modal-content blue-grey darken-1">
                <div class="row">
                    <p class="white-text flow-text center-align" style="font-weight: 400">Flag this paper for moderation</p>
                    <p class="white-text flow-text left-align" style="font-weight: 300">Please state why you wish to flag this paper for moderation:</p>
                </div>
                <div class="row">
                    <form class="col s12 ng-pristine ng-valid">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea style="color: white" ng-model="flagReason" id="flagReason" class="materialize-textarea ng-pristine ng-untouched ng-valid ng-empty"></textarea>
                                <label for="flagReason">State the reason here, if you want to.</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer blue-grey lighten-2">
                <div class="row no-margin-bottom">
                    <div class="col s6">
                        <a class="right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                            <i class=" material-icons publication-schema-button-icon right white-text">close</i>cancel</a>
                    </div>
                    <div class="col s6">
                        <a ng-click="flagForModeration()" class="right waves-effect waves-light remove-shadow btn blue-grey white-text">
                            <i class="material-icons right">flag</i>Flag for moderation</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="removeFlagModal" class="modal modal-fixed-footer">
            <div class="modal-content blue-grey darken-1">
                <div class="row">
                    <p class="white-text flow-text center-align" style="font-weight: 400">Are you sure you want to remove the flagg?</p>
                </div>
            </div>
            <div class="modal-footer blue-grey lighten-2">
                <div class="row no-margin-bottom">
                    <div class="col s6">
                        <a class="right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                            <i class=" material-icons publication-schema-button-icon right white-text">close</i>cancel</a>
                    </div>
                    <div class="col s6">
                        <a ng-click="removeFlag()" class="right waves-effect waves-light remove-shadow btn blue-grey white-text">
                            <i class="material-icons right">flag</i>Remove flag</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
        </div>
        <div class="col s3" style="padding-left: 0px; padding-right: 0px; width: 20%">
            <div class="row">
                <div class="col l12" style="padding-left: 0px">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <div class="row">
                                <div class="col l12" style="padding-left: 0px; padding-right: 0px">
                                    <div class="col l12">
                                        <h5 class="center-align">Your progress</h5>
                                    </div>
                                    <div class="col l12">
                                        <p class="center-align ng-binding">Level 1 0 | 2000 points</p>
                                    </div>
                                    <div style="padding-bottom: 10px; border-bottom: 1px solid rgb(99, 120, 130);" class="col l12">
                                        <p class="center-align ng-binding"> 50/ 100 points</p>
                                    </div>
                                    <row>
                                        <div style="padding-bottom: 0px; padding-top: 10px" class="col l6"><p class="ng-binding">Lvl: 0</p></div>
                                        <div style="padding-bottom: 0px; padding-top: 10px" class="col l6 right-align ng-binding">Next lvl: 1</div>
                                    </row>
                                    <div class="col l12 progress" style="margin-bottom: 5px; margin-top: 0px">
                                        <div id="progression" class="determinate" ng-style="{'width' : userStats.game.progressToNextLevel + '%'}" style="width: 0%;"></div>
                                    </div>

                                    <row>
                                        <div style=" padding-bottom:10px; border-bottom: 1px solid rgb(99, 120, 130);" class="col l12"><p>Next unlock: <span class="blue-grey-text lighten-2 ng-binding">A fictive unlock</span></p></div>
                                    </row>
                                    <div class="col l8 offset-l2" style="border-bottom: 1px solid rgba(49, 148, 197, 0.59);margin-top: 15px"><p style="font-size: 18px" class="center-align">Latest points earned</p> </div>
                                    <div class="col l12">
                                        <ul style="margin-bottom: 0px; margin-top: 5px">
                                            <li><p>Some event</p></li>
                                            <!-- ngRepeat: event in userStats.game.eventText.slice(length(userStats.game.eventText) - 5, length(userStats.game.eventText)).reverse() track by $index | limitTo: 5 -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action" style="border-top: 1px solid rgba(49, 148, 197, 0.59)">
                                <ul>
                                    <li style="margin-bottom: 10px">
                                        <a ui-sref="profile" href="#/profile">View all stats</a>
                                    </li>
                                    <li>
                                        <a ui-sref="features" href="#/features">How do i earn more points?</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ngIf: userStats.game.level == 0 --><div class="row ng-scope" ng-if="userStats.game.level == 0">
                <div class="col l12" style="padding-left: 0px">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <div class="row">
                                <div class="col l12" style="padding-left: 0px; padding-right: 0px">
                                    <div class="col l12">
                                        <h5 class="left-align">Register to track your contributions, progress through levels and gain privileges!</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action" style="border-top: 1px solid rgba(49, 148, 197, 0.59); padding-bottom: 5px">
                                <ul style="margin-bottom: 0px; margin-top: 0px">
                                    <li>
                                        <a ui-sref="features" href="#/features">What can i do once registered?</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end ngIf: userStats.game.level == 0 -->
        </div>
        <footer class="page-footer blue-grey lighten-2">
            <div class="container">
                <div class="row">
                    <div class="col l12 s12">
                        <h5 class="white-text"></h5>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col l4">
                            <a class="grey-text text-lighten-4 right" href="#!">Terms of use</a>
                        </div>
                        <div class="col l4">
                            <a class="grey-text text-lighten-4 right" href="#!">Privacy policy</a>
                        </div>
                        <div class="col l4">
                            <a class="grey-text text-lighten-4 right" href="#!">About us</a>
                        </div>
                    </div>

                </div>
            </div>
        </footer>

        <div id="eventModal" class="modal modal-fixed-footer" style="width: 60%; height: 60%">
            <div class="modal-content blue-grey darken-2" style="padding-top: 0px; padding-bottom: 0px">
                <div class="row">
                    <div class="col l12">
                        <p style="font-size: 30px; border-bottom: 1px solid rgba(49, 148, 197, 0.59)" class="white-text center-align ng-binding"></p>
                    </div>
                    <div class="col l12">
                        <p class="white-text flow-text ng-binding"></p>
                    </div>
                    <div class="col l12">
                        <p class="flow-text center-align ng-binding" style="color: #ffab40;"> points awarded!</p>
                    </div>
                    <div class="col l6 offset-l6">
                    </div>
                </div>
            </div>
            <div class="modal-footer blue-grey lighten-2">
                <div class="row no-margin-bottom">
                    <div class="col s3 offset-l9">
                        <a class=" right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                            <i class=" material-icons publication-schema-button-icon right white-text">mood</i>Got it!</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="levelUpModal" class="modal modal-fixed-footer" style="width: 55%; height: 55%">
            <div class="modal-content blue-grey darken-2" style="padding-top: 0px; padding-bottom: 0px">
                <div class="row">
                    <div class="col l12">
                        <p style="font-size: 30px; border-bottom: 1px solid rgba(49, 148, 197, 0.59)" class="white-text center-align">You leveled up!</p>
                    </div>
                    <div class="col l12">
                        <p class="white-text flow-text center-align ng-binding">Congratulation, you just reached level </p>
                    </div>
                    <div class="col l12">
                        <p class="flow-text center-align" style="color: #ffab40;">You unlocked:</p>
                        <p class="flow-text left-align white-text ng-binding"></p>

                    </div>
                    <div class="col l6 offset-l6">
                    </div>
                </div>
            </div>
            <div class="modal-footer blue-grey lighten-2">
                <div class="row no-margin-bottom">
                    <div class="col s3 offset-l9">
                        <a class=" right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                            <i class=" material-icons publication-schema-button-icon right white-text">mood</i>Got it!</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
    <div id="authenticationModal" class="modal  modal-fixed-footer white" style="height: 60%; width: 40%">
        <div class="modal-content">
            <div class="row">
                <ul class="tabs" style="font-size: 18px; width: 100%;">
                    <li class="tab col s4">
                        <a class="custom-tab active" href="#signIn">Sign in</a>
                        <div style="left: 0px; right: 50px;" class="indicator custom"></div></li>
                    <li class="tab col s4">
                        <a class="custom-tab" href="#register">Register</a></li>
                <div class="indicator" style="right: 50px; left: 0px;"></div><div class="indicator" style="right: 50px; left: 0px;"></div><div class="indicator" style="right: 50px; left: 0px;"></div></ul>
                <div id="signIn">
                    <form name="signInForm" ng-keypress="keyPress($event)" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern">
                        <div class="section">
                            <div class="input-field col s6">
                                <input pattern=".{0,16}" ng-model="signInUsername" id="signInUsername" type="text" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" required="">
                                <label for="signInUsername">Username</label>
                            </div>

                            <div class="input-field col s6"><input ng-model="signInPassword" id="signInPassword" type="password" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required="">
                                <label for="signInPassword">Password</label>

                            </div>
                            <div class="row">
                                <div class="col s6 offset-s3"> <a ng-class="{disabled : signInForm.$invalid}" ng-click="signIn()" class="publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text disabled">
                                    <i class="material-icons publication-schema-button-icon right white-text">person</i>Sign in</a>
                                </div>
                                <div class="col s6 offset-s3"> <a href="/auth/facebook" class="publication-schema-button right waves-effect waves-light remove-shadow btn white-text" style="background-color: #3b5998">
                                    Sign in with Facebook</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="register" style="display: none;">
                    <div class="section">
                        <form name="registerForm" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input pattern=".{0,16}" ng-model="registerUsername" placeholder="(maximum 16)" id="registerUsername" type="text" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" required="">
                                    <label data-error="username length: 1-16" class="active" for="registerUsername">Username</label>
                                </div>
                                <div class="input-field col s6">
                                    <input pattern=".{6,50}" ng-model="registerPassword" placeholder="(minimum 6)" id="registerPassword" type="password" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" required="">
                                    <label data-error="password length: minimum 6" class="active" for="registerPassword">Password</label>
                                </div>
                                <div class="row"></div>
                                <div ng-hide="ongoingRegistrations" class="col s4 offset-s4"> <a ng-class="{disabled : registerForm.$invalid}" ng-click="register()" class="publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text disabled">
                                    <i class="material-icons publication-schema-button-icon right white-text">person_add</i>Register</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer blue-grey lighten-2">
            <div class="row no-margin-bottom">
                <div class="col l9 white-text"><p class="ng-binding"></p></div>
                <div class="col l3"> <a class="right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                    <i class="material-icons publication-schema-button-icon right white-text">close</i>cancel</a></div>

            </div>
        </div>
    </div>

    <div id="logoutModal" class="modal modal-fixed-footer" style="max-height: 30%;">
        <div class="modal-content">
            <div class="row">
                <p class="card-text-blue flow-text" style="font-weight: 400">Would you like to sign out?</p>
            </div>

        </div>
        <div class="modal-footer blue-grey lighten-2">
            <div class="row no-margin-bottom">
                <div class="col s4 offset-s2">
                    <a class="right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                        <i class="material-icons publication-schema-button-icon right white-text">close</i>cancel</a>
                </div>
                <div class="col s4"> <a ng-click="logout()" class="publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text">
                    <i class="material-icons publication-schema-button-icon right white-text">send</i>sign out</a>
                </div>
            </div>
        </div>
    </div></div></div>
</div>

<div class="hiddendiv common"></div></body></html>