<!DOCTYPE html><html ng-app="app" style="margin:0;padding:0;" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <meta charset="UTF-8">
    <title>OA search engine</title>
    <meta name="description" content="A search engine for Open Access scholarly publications, with a crowdsourced curation of the database">
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/Materialize/bin/materialize.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css">
    <link rel="stylesheet" href="bower_components/angular-tooltips/dist/angular-tooltips.min.css">


    <!-- endbower -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/Materialize/bin/materialize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-tooltips/lib/angular-tooltips.js"></script>
    <script src="bower_components/angularUtils-disqus/dirDisqus.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>


    <!-- endbower -->

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="app/style.css">

    <script src="app/main/main.js"></script>
    <script src="app/main/index.js"></script>

    <script src="app/profile/profile.js"></script>
    <script src="app/features/features.js"></script>
    <script src="app/publication/publication.js"></script>
    <script src="app/verification/verification.js"></script>
    <script src="app/add_publication/add_publication.js"></script>
    <script src="app/modify_metadata/modify_metadata.js"></script>
    <script src="app/auth/auth.js"></script>




</head>

<body class="blue-grey lighten-2">

<!-- The navbar on top-->
<div ng-controller="IndexCtrl" class="ng-scope">
    <div class="navbar-fixed">
        <nav>
            <div class="blue-grey lighten-2 lighten-1 nav-wrapper">

                <div class="row">
                    <div class="col l1">
                        <a ui-sref="home" class="brand-logo center" href="#/home">OASearch.com
                            <span class="white-text" style="font-size: 11px"> - a crowdsourced collection of OA scholarly papers</span> </a>
                    </div>
                    <ul>
                        <!-- ngIf: userStats.game.level >= 4 -->
                        <!-- ngIf: userStats.game.level >= 1 -->
                        
                    </ul>
                    <ul class="right nav-mobile walign-wrapper">
                        <a ng-click="openLoginModal()" class="ng-binding">Sign in / register  <img ng-show="signedIn" height="45" width="45" style="vertical-align:middle; border-radius: 30%" class="ng-hide"> <i ng-hide="signedIn" class="material-icons right">account_box</i></a>
                    </ul>
                </div>
            </div>

        </nav>
    </div>

    <div class="row">
        <div class="col s9" style="width: 80%">
            <!-- uiView: --><div ui-view="" class="ng-scope" style="">

<div class="row  ng-scope">
    <div class="card white col s12 l10 offset-l2" style="padding-top: 20px">
        <div class="row" style="margin-right: 20px; margin-left: 20px; margin-bottom: 0px">
            <p class="flow-text card-text-blue left" style="font-weight: 400; margin-bottom: 5px">These are the papers that have been added to the system, but are not yet verified. Click on them to view, verify or reject them!</p>
        </div>
        <div class="row" style="margin-right: 20px; margin-left: 20px; margin-bottom: 0px;">
            <p class="flow-text orange-text left" style="font-weight: 400; margin-bottom: 5px">You have to be rank 4 to see these papers.</p>
        </div>
        <div class="divider" style="margin-bottom: 35px"></div>
        <div class="input-field col s12">
            <i class="material-icons prefix blue-grey-text active" style="padding-top: 10px; padding-left: 10px; ">search</i>
            <input ng-model="verificationFilter" placeholder="filter on the titles" id="0" type="text" class="ng-pristine ng-untouched ng-valid ng-empty">
        </div>
        <div>
            <div ng-hide="listRetrived" class="progress ng-hide" style="">
                <div class="indeterminate"></div>
            </div>
            <div class="col s12 no-padding-left no-padding-right">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <!-- ngRepeat: publication in publications | filter:verificationFilter:publication.link | filter:verificationFilter:publication.type |
         filter:verificationFilter:publication.date_added | filter:verificationFilter:publication.authors | filter:verificationFilter:publication.abstract
         | filter:verificationFilter:publication.user | filter:verificationFilter:publication.year  | filter:verificationFilter:publication.publication_title track by $index --><li ng-repeat="publication in publications | filter:verificationFilter:publication.link | filter:verificationFilter:publication.type |
         filter:verificationFilter:publication.date_added | filter:verificationFilter:publication.authors | filter:verificationFilter:publication.abstract
         | filter:verificationFilter:publication.user | filter:verificationFilter:publication.year  | filter:verificationFilter:publication.publication_title track by $index " class="ng-scope" style="">
                        <!-- ngIf: publication.show == true --><div ng-if="publication.show == true" class="collapsible-header ng-scope" style="padding-left: 0px; padding-right: 10px">
                            <div class="col s9">
                                <i class="material-icons blue-grey-text" style="margin-right: 0px">more_vert</i>
                                <span class="truncate blue-grey-text ng-binding">a dummy paper</span>
                            </div>
                            <div class="s3">
                                <h7 style="font-size: 12px" class="blue-grey-text right  ng-binding">testing, 2016-07-22 00:53 </h7>
                            </div>
                        </div><!-- end ngIf: publication.show == true -->
                        <!-- ngIf: publication.show == true --><div ng-if="publication.show == true" class="collapsible-body white ng-scope">
                            <table class="centered bordered">
                                <thead>
                                <tr>
                                    <th class="publication-table-padding" style="width: 15%;" data-field="metadata">metadata</th>
                                    <th class="publication-table-padding" style="width: 85%;" data-field="value">value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding ng-hide"><span class="card-text-blue ng-binding">_id</span></td>
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding ng-binding ng-hide" style="padding-right: 20px!important;">57915282e50e5d9831ee6338</td>
                                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding ng-hide"><span class="card-text-blue ng-binding">publication_title</span></td>
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding ng-binding ng-hide" style="padding-right: 20px!important;">a dummy paper</td>
                                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding"><span class="card-text-blue ng-binding">abstract</span></td>
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding ng-binding" style="padding-right: 20px!important;">&lt;h2&gt;This is a abstract&lt;/h2&gt;</td>
                                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding"><span class="card-text-blue ng-binding">publisher</span></td>
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding ng-binding" style="padding-right: 20px!important;">Testing publisher</td>
                                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding ng-hide"><span class="card-text-blue ng-binding">flaggedReason</span></td>
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding ng-binding ng-hide" style="padding-right: 20px!important;">[]</td>
                                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding ng-hide"><span class="card-text-blue ng-binding">eventText</span></td>
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding ng-binding ng-hide" style="padding-right: 20px!important;">[]</td>
                                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding"><span class="card-text-blue ng-binding">date_added</span></td>
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding ng-binding" style="padding-right: 20px!important;">2016-07-22 00:53</td>
                                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding ng-hide"><span class="card-text-blue ng-binding">user</span></td>
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding ng-binding ng-hide" style="padding-right: 20px!important;">testing</td>
                                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding"><span class="card-text-blue ng-binding">link</span></td>
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding ng-binding" style="padding-right: 20px!important;">http://www.dummyurl.com</td>
                                </tr><!-- end ngRepeat: (key, value) in publication --><tr ng-repeat="(key, value) in publication" class="ng-scope">
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding ng-hide"><span class="card-text-blue ng-binding">show</span></td>
                                    <td ng-hide="checkIfShouldBeDisplayed(key, value)" class="publication-table-padding ng-binding ng-hide" style="padding-right: 20px!important;">true</td>
                                </tr><!-- end ngRepeat: (key, value) in publication -->
                                </tbody>
                            </table>
                            <div class="divider"></div>
                            <div class="row">
                                <div class=" col s12">
                                    <p class="">You can add or modify metadata before or after you accept a paper. Once a paper has been rejected, it will be deleted permanently from the system.</p>
                                </div>
                                <div class=" col s3">
                                    <a target="_blank" ng-href="http://www.dummyurl.com" class=" valign right waves-effect waves-light remove-shadow btn blue-grey white-text" href="http://www.dummyurl.com">
                                        <i class="material-icons right">open_in_new</i>open paper</a>
                                </div>
                                <div class=" col s3">
                                    <a target="_blank" ng-href="#/modify_metadata/57915282e50e5d9831ee6338" class=" valign right waves-effect waves-light remove-shadow btn blue-grey white-text" href="#/modify_metadata/57915282e50e5d9831ee6338">
                                        <i class="material-icons right">edit</i>edit metadata</a>
                                </div>

                                <div class="col s3">
                                    <a ng-click="openVerifyPublicationModal(publication._id)" class=" right waves-effect waves-light remove-shadow btn blue-grey white-text">
                                        <i class="material-icons right">check_circle</i>verify paper</a>
                                </div>
                                <div class=" col s3">
                                    <a ng-click="openDeletePublicationModal(publication._id, publication.publication_title)" class=" right waves-effect waves-light remove-shadow btn red darken-1 white-text">
                                        <i class="material-icons right">delete_forever</i>reject paper</a>
                                </div>
                            </div>
                        </div><!-- end ngIf: publication.show == true -->
                    </li><!-- end ngRepeat: publication in publications | filter:verificationFilter:publication.link | filter:verificationFilter:publication.type |
         filter:verificationFilter:publication.date_added | filter:verificationFilter:publication.authors | filter:verificationFilter:publication.abstract
         | filter:verificationFilter:publication.user | filter:verificationFilter:publication.year  | filter:verificationFilter:publication.publication_title track by $index -->
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="rejectPublicationModal" class="modal modal-fixed-footer ng-scope">
    <div class="modal-content blue-grey darken-1">
        <div class="row">
            <p class="white-text flow-text center-align" style="font-weight: 400"> Are you sure you want to delete this paper?</p>
            <p class="white-text flow-text left-align" style="font-weight: 300">The user who added this paper probably appreciates
                you telling them why it was rejected. Please do so in the input field below! </p>
        </div>
        <div class="row">
            <form class="col s12 ng-pristine ng-valid">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea style="color: white" ng-model="rejectionReason" id="rejectionReason" class="materialize-textarea ng-pristine ng-untouched ng-valid ng-empty"></textarea>
                        <label for="rejectionReason">State the reason here, if you want to.</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer blue-grey lighten-2">
        <div class="row no-margin-bottom">
            <div class="col s6">
                <a class="right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                    <i class=" material-icons publication-schema-button-icon right white-text">close</i>cancel</a>
            </div>
            <div class="col s6">
                <a ng-click="deletePublication()" class="right waves-effect waves-light remove-shadow btn blue-grey darken-1 white-text">
                    <i class="material-icons right">delete_forever</i>Delete this paper</a>
            </div>
        </div>
    </div>
</div>
<div id="verifyPublicationModal" class="modal modal-fixed-footer ng-scope">
    <div class="modal-content blue-grey darken-1">
        <div class="row">
            <p class="white-text center-align flow-text" style="font-weight: 400">Are you sure you want to verify this paper?</p>
        </div>
    </div>
    <div class="modal-footer blue-grey lighten-2">
        <div class="row no-margin-bottom">
            <div class="col s6">
                <a class="right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                    <i class=" material-icons publication-schema-button-icon right white-text">close</i>cancel</a>
            </div>
            <div class="col s6">
                <a ng-click="verifyPublication()" class="right waves-effect waves-light remove-shadow btn blue-grey white-text">
                    <i class="material-icons right">check_circle</i>verify this paper</a>
            </div>
        </div>
    </div>
</div>


</div>
        </div>
        <div class="col s3" style="padding-left: 0px; padding-right: 0px; width: 20%">
            <div class="row">
                <div class="col l12" style="padding-left: 0px">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <div class="row">
                                <div class="col l12" style="padding-left: 0px; padding-right: 0px">
                                    <div class="col l12">
                                        <h5 class="center-align">Your progress</h5>
                                    </div>
                                    <div class="col l12">
                                        <p class="center-align ng-binding">Level 1 0 | 2000 points</p>
                                    </div>
                                    <div style="padding-bottom: 10px; border-bottom: 1px solid rgb(99, 120, 130);" class="col l12">
                                        <p class="center-align ng-binding"> 50/ 100 points</p>
                                    </div>
                                    <row>
                                        <div style="padding-bottom: 0px; padding-top: 10px" class="col l6"><p class="ng-binding">Lvl: 0</p></div>
                                        <div style="padding-bottom: 0px; padding-top: 10px" class="col l6 right-align ng-binding">Next lvl: 1</div>
                                    </row>
                                    <div class="col l12 progress" style="margin-bottom: 5px; margin-top: 0px">
                                        <div id="progression" class="determinate" ng-style="{'width' : userStats.game.progressToNextLevel + '%'}" style="width: 0%;"></div>
                                    </div>

                                    <row>
                                        <div style=" padding-bottom:10px; border-bottom: 1px solid rgb(99, 120, 130);" class="col l12"><p>Next unlock: <span class="blue-grey-text lighten-2 ng-binding">A fictive unlock</span></p></div>
                                    </row>
                                    <div class="col l8 offset-l2" style="border-bottom: 1px solid rgba(49, 148, 197, 0.59);margin-top: 15px"><p style="font-size: 18px" class="center-align">Latest points earned</p> </div>
                                    <div class="col l12">
                                        <ul style="margin-bottom: 0px; margin-top: 5px">
                                            <li><p>Some event</p></li>
                                            <!-- ngRepeat: event in userStats.game.eventText.slice(length(userStats.game.eventText) - 5, length(userStats.game.eventText)).reverse() track by $index | limitTo: 5 -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action" style="border-top: 1px solid rgba(49, 148, 197, 0.59)">
                                <ul>
                                    <li style="margin-bottom: 10px">
                                        <a ui-sref="profile" href="#/profile">View all stats</a>
                                    </li>
                                    <li>
                                        <a ui-sref="features" href="#/features">How do i earn more points?</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ngIf: userStats.game.level == 0 --><div class="row ng-scope" ng-if="userStats.game.level == 0">
                <div class="col l12" style="padding-left: 0px">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <div class="row">
                                <div class="col l12" style="padding-left: 0px; padding-right: 0px">
                                    <div class="col l12">
                                        <h5 class="left-align">Register to track your contributions, progress through levels and gain privileges!</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action" style="border-top: 1px solid rgba(49, 148, 197, 0.59); padding-bottom: 5px">
                                <ul style="margin-bottom: 0px; margin-top: 0px">
                                    <li>
                                        <a ui-sref="features" href="#/features">What can i do once registered?</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end ngIf: userStats.game.level == 0 -->
        </div>
        <footer class="page-footer blue-grey lighten-2">
            <div class="container">
                <div class="row">
                    <div class="col l12 s12">
                        <h5 class="white-text"></h5>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col l4">
                            <a class="grey-text text-lighten-4 right" href="#!">Terms of use</a>
                        </div>
                        <div class="col l4">
                            <a class="grey-text text-lighten-4 right" href="#!">Privacy policy</a>
                        </div>
                        <div class="col l4">
                            <a class="grey-text text-lighten-4 right" href="#!">About us</a>
                        </div>
                    </div>

                </div>
            </div>
        </footer>

        <div id="eventModal" class="modal modal-fixed-footer" style="width: 60%; height: 60%">
            <div class="modal-content blue-grey darken-2" style="padding-top: 0px; padding-bottom: 0px">
                <div class="row">
                    <div class="col l12">
                        <p style="font-size: 30px; border-bottom: 1px solid rgba(49, 148, 197, 0.59)" class="white-text center-align ng-binding"></p>
                    </div>
                    <div class="col l12">
                        <p class="white-text flow-text ng-binding"></p>
                    </div>
                    <div class="col l12">
                        <p class="flow-text center-align ng-binding" style="color: #ffab40;"> points awarded!</p>
                    </div>
                    <div class="col l6 offset-l6">
                    </div>
                </div>
            </div>
            <div class="modal-footer blue-grey lighten-2">
                <div class="row no-margin-bottom">
                    <div class="col s3 offset-l9">
                        <a class=" right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                            <i class=" material-icons publication-schema-button-icon right white-text">mood</i>Got it!</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="levelUpModal" class="modal modal-fixed-footer" style="width: 55%; height: 55%">
            <div class="modal-content blue-grey darken-2" style="padding-top: 0px; padding-bottom: 0px">
                <div class="row">
                    <div class="col l12">
                        <p style="font-size: 30px; border-bottom: 1px solid rgba(49, 148, 197, 0.59)" class="white-text center-align">You leveled up!</p>
                    </div>
                    <div class="col l12">
                        <p class="white-text flow-text center-align ng-binding">Congratulation, you just reached level </p>
                    </div>
                    <div class="col l12">
                        <p class="flow-text center-align" style="color: #ffab40;">You unlocked:</p>
                        <p class="flow-text left-align white-text ng-binding"></p>

                    </div>
                    <div class="col l6 offset-l6">
                    </div>
                </div>
            </div>
            <div class="modal-footer blue-grey lighten-2">
                <div class="row no-margin-bottom">
                    <div class="col s3 offset-l9">
                        <a class=" right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                            <i class=" material-icons publication-schema-button-icon right white-text">mood</i>Got it!</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
    <div id="authenticationModal" class="modal  modal-fixed-footer white" style="height: 60%; width: 40%">
        <div class="modal-content">
            <div class="row">
                <ul class="tabs" style="font-size: 18px; width: 100%;">
                    <li class="tab col s4">
                        <a class="custom-tab active" href="#signIn">Sign in</a>
                        <div style="left: 0px; right: 50px;" class="indicator custom"></div></li>
                    <li class="tab col s4">
                        <a class="custom-tab" href="#register">Register</a></li>
                <div class="indicator" style="right: 50px; left: 0px;"></div><div class="indicator" style="right: 50px; left: 0px;"></div></ul>
                <div id="signIn">
                    <form name="signInForm" ng-keypress="keyPress($event)" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern">
                        <div class="section">
                            <div class="input-field col s6">
                                <input pattern=".{0,16}" ng-model="signInUsername" id="signInUsername" type="text" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" required="">
                                <label for="signInUsername">Username</label>
                            </div>

                            <div class="input-field col s6"><input ng-model="signInPassword" id="signInPassword" type="password" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required="">
                                <label for="signInPassword">Password</label>

                            </div>
                            <div class="row">
                                <div class="col s6 offset-s3"> <a ng-class="{disabled : signInForm.$invalid}" ng-click="signIn()" class="publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text disabled">
                                    <i class="material-icons publication-schema-button-icon right white-text">person</i>Sign in</a>
                                </div>
                                <div class="col s6 offset-s3"> <a href="/auth/facebook" class="publication-schema-button right waves-effect waves-light remove-shadow btn white-text" style="background-color: #3b5998">
                                    Sign in with Facebook</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="register" style="display: none;">
                    <div class="section">
                        <form name="registerForm" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input pattern=".{0,16}" ng-model="registerUsername" placeholder="(maximum 16)" id="registerUsername" type="text" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" required="">
                                    <label data-error="username length: 1-16" class="active" for="registerUsername">Username</label>
                                </div>
                                <div class="input-field col s6">
                                    <input pattern=".{6,50}" ng-model="registerPassword" placeholder="(minimum 6)" id="registerPassword" type="password" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" required="">
                                    <label data-error="password length: minimum 6" class="active" for="registerPassword">Password</label>
                                </div>
                                <div class="row"></div>
                                <div ng-hide="ongoingRegistrations" class="col s4 offset-s4"> <a ng-class="{disabled : registerForm.$invalid}" ng-click="register()" class="publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text disabled">
                                    <i class="material-icons publication-schema-button-icon right white-text">person_add</i>Register</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer blue-grey lighten-2">
            <div class="row no-margin-bottom">
                <div class="col l9 white-text"><p class="ng-binding"></p></div>
                <div class="col l3"> <a class="right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                    <i class="material-icons publication-schema-button-icon right white-text">close</i>cancel</a></div>

            </div>
        </div>
    </div>

    <div id="logoutModal" class="modal modal-fixed-footer" style="max-height: 30%;">
        <div class="modal-content">
            <div class="row">
                <p class="card-text-blue flow-text" style="font-weight: 400">Would you like to sign out?</p>
            </div>

        </div>
        <div class="modal-footer blue-grey lighten-2">
            <div class="row no-margin-bottom">
                <div class="col s4 offset-s2">
                    <a class="right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text">
                        <i class="material-icons publication-schema-button-icon right white-text">close</i>cancel</a>
                </div>
                <div class="col s4"> <a ng-click="logout()" class="publication-schema-button right waves-effect waves-light remove-shadow btn blue-grey white-text">
                    <i class="material-icons publication-schema-button-icon right white-text">send</i>sign out</a>
                </div>
            </div>
        </div>
    </div></div></div>
</div>

<div class="hiddendiv common"></div></body></html>