<div class="row ">
    <div class="col l12" style="padding-left: 0px; padding-right: 0px">
        <div class="row">
            <div class="col l12" style="padding-left: 0px">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <table class="bordered">
                            <thead>
                            <tr style="border-bottom: 1px solid rgba(49, 148, 197, 0.59)">
                                <th style="width: 25%" data-field="id"><h5>Level required</h5></th>
                                <th style="width: 50%" data-field="name"><h5>Feature</h5></th>
                                <th  style="width: 25%" data-field="price"><h5>Points awarded</h5></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr style="border-bottom: none">
                                <td class="feature-table-cell">Unregistered</td>
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell"></td>
                            <tr style="border-bottom: 1px solid rgb(255, 255, 255);">
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell">Register</td>
                                <td class="feature-table-cell">10 points</td>
                            </tr>

                            <tr style="border-bottom: none">
                                <td class="feature-table-cell">Level 1 (0 points required)</td>
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell"></td>
                            </tr>
                            <tr style="border-bottom: 1px solid rgba(160, 160, 160, 0.2)">
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell">Sign in</td>
                                <td class="feature-table-cell">1 point (once each day)</td>
                            </tr>
                            <tr style="border-bottom: 1px solid rgba(160, 160, 160, 0.2)">
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell">Add a paper to OAsearch</td>
                                <td class="feature-table-cell">10 points for adding, additional 40 if verified</td>
                            </tr>
                            <tr style="border-bottom: 1px solid rgb(255, 255, 255);">
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell">Vote on the best version / source of a paper</td>
                                <td class="feature-table-cell">1 point for each version voted up/down</td>
                            </tr>

                            <tr style="border-bottom: none">
                                <td class="feature-table-cell">Level 2 (25 points required)</td>
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell"></td>
                            </tr>
                            <tr style="border-bottom: 1px solid rgba(160, 160, 160, 0.2)">
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell">Add a previously empty metadata field to a paper</td>
                                <td class="feature-table-cell">2 points</td>
                            </tr>
                            <tr style="border-bottom: 1px solid rgb(255, 255, 255);">
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell">Add a alternative version / source to a paper</td>
                                <td class="feature-table-cell">25 points</td>
                            </tr>

                            <tr style="border-bottom: none">
                                <td class="feature-table-cell">Level 3 (50 points required)</td>
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell"></td>
                            </tr>
                            <tr style="border-bottom: 1px solid rgb(255, 255, 255);">
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell">Flag a paper for moderation</td>
                                <td class="feature-table-cell">2 points</td>
                            </tr>

                            <tr style="border-bottom: none">
                                <td class="feature-table-cell">Level 4 (100 points required)</td>
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell"></td>
                            </tr>
                            <tr style="border-bottom: 1px solid rgba(160, 160, 160, 0.2)">
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell">Verify a submitted paper</td>
                                <td class="feature-table-cell">10 points</td>
                            </tr>
                            <tr style="border-bottom: 1px solid rgb(255, 255, 255);">
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell">Reject a submitted paper</td>
                                <td class="feature-table-cell">10 points</td>
                            </tr>

                            <tr style="border-bottom: none">
                                <td class="feature-table-cell">Level 5 (150 points required)</td>
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell"></td>
                            </tr>
                            <tr style="border-bottom: 1px solid rgb(255, 255, 255);">
                                <td></td>
                                <td>Edit existing metadata fields</td>
                                <td>2 points</td>
                            </tr>


                            <tr style="border-bottom: none">
                                <td class="feature-table-cell">Level 6 (250 points required)</td>
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell"></td>
                            </tr>
                            <tr style="border-bottom: 1px solid rgba(160, 160, 160, 0.2)">
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell">View all flagged publications</td>
                                <td class="feature-table-cell"></td>
                            </tr>
                            <tr style="border-bottom: 1px solid rgb(255, 255, 255);">
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell">Remove flags for moderation</td>
                                <td class="feature-table-cell">2 points</td>
                            </tr>

                            <tr style="border-bottom: none">
                                <td class="feature-table-cell">Level 7 (1000 points required)</td>
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell"></td>
                            </tr>
                            <tr style="border-bottom: 1px solid rgba(160, 160, 160, 0.2)">
                                <td class="feature-table-cell"></td>
                                <td class="feature-table-cell">Delete a paper</td>
                                <td class="feature-table-cell">10 points</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
