<div class="row ">
    <div class="card white col s12" style="padding-top: 20px">
        <div class="row" style="margin-right: 20px; margin-left: 20px">
            <h5 class="flow-text left col l8 s12" style="font-weight: 400">Here you can modify all existing metadata, with the exception of the title. The abstract input field supports html-tags.</h5>
            <ul>
                <li>
                    <h5 ng-show="(gameUser.game.level < 5)" style="margin-bottom: 0px; margin-top: 0px" class="flow-text  left col l8 s12">You have to be level 5 to be able to edit metadata fields which already have a value.</h5>
                </li>
                <li>
                    <h5 ng-show="(gameUser.game.level < 7)" style="margin-bottom: 0px; margin-top: 0px" class="flow-text  left col l8 s12">You can delete the paper at level 7.</h5>
                </li>
            </ul>
        </div>
        <div class="col s12">
            <p class="card-text-blue" style="font-weight: 600">Title: </p>
            <a style="display: inline;" target="_blank" href={{topVersion.link}} ng-bind-html="title" class="blue-grey-text title"></a>
            <i class="material-icons blue-grey-text tiny">open_in_new</i>
        </div>
        <a href="#/publication/{{deletionID}}" class='col s3 waves-effect waves-light remove-shadow btn blue-grey white-text'>
            <i class="material-icons left">arrow_left</i>Back to publication</a>

        <a ng-show="(verified == false) && (gameUser.username != addedByUser) && (gameUser.game.level >= 4)" ng-click="openVerifyPublicationModalMetadata()" class='col s3 offset-s9 right waves-effect waves-light remove-shadow btn blue-grey white-text'>
            <i class="material-icons left">delete_forever</i>Verify this publication</a>
        <a ng-if="gameUser.game.level >= 7"  ng-click="openDeletePublicationModal()" class='{{publicationAddingEnabled}} col s3 offset-s9 right waves-effect waves-light remove-shadow btn red darken-1 white-text'>
            <i class="material-icons right">delete_forever</i>Delete this publication</a>
        <div ng-show="gameUser.game.level >= 2" class="col s12 no-padding-left no-padding-right">
            <table class="centered striped z-depth-0">
                <thead>
                <tr>
                    <th class="metadata card-text-blue" data-field="metadata">Metadata</th>
                    <th class="value card-text-blue" data-field="value">Edit</th>
                    <th class="new-value card-text-blue" data-field="value">Save</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, value) in publication">
                    <td class="publication-table-padding metadata">{{key}}</td>
                    <td class="publication-table-padding value">
                        <div class="input-field col l12">
                            <textarea style="padding-bottom: 0px; padding-top: 0px" ng-model="input_[key]" ng-init="input_[key] = value"  id="input_[key]" class="materialize-textarea"></textarea>
                        </div>
                    </td>
                    <td class="new-value">

                        <div ng-if="!((gameUser.game.level < 5) && (value != ''))">
                            <i tooltips tooltip-template="Review changes and save" ng-click="openConfirmMetadataModal(key, input_[key], value)" class="col s2 material-icons blue-grey-text icon-in-table">save</i>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id='confirmMetadataChange' class='modal modal-fixed-footer'>
    <div class='modal-content'>
        <div class="row">
            <p class="card-text-blue flow-text" style="font-weight: 400">Are you sure you want to change the {{tobeModifiedFeild}}?</p>
            <p class="card-text-blue flow-text" style="font-weight: 400; margin-bottom: 5px">Previous value:</p>
            <blockquote style="margin-top: 0px">
                {{tobeModifiedPrevValue}}
            </blockquote>
            <p class="card-text-blue flow-text" style="font-weight: 400; margin-bottom: 5px">New value:</p>
            <blockquote style="margin-top: 0px">
                {{tobeModifiedValue}}
            </blockquote>
        </div>
    </div>
    <div class='modal-footer blue-grey lighten-2'>
        <div class='row no-margin-bottom'>
            <div class="col s6">
                <a class=' right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text'>
                    <i class=' material-icons publication-schema-button-icon right white-text'>close</i>cancel</a>
            </div>
            <div class="col s6">
                <a ng-click="saveMetadata()" class='{{publicationAddingEnabled}} right waves-effect waves-light remove-shadow btn red darken-1 white-text'>
                    <i class="material-icons right">save</i>Confirm change</a>
            </div>
        </div>
    </div>
</div>
<div id='deletePublicationModal' class='modal modal-fixed-footer'>
    <div class='modal-content'>
        <div class="row">
            <p class="card-text-blue flow-text" style="font-weight: 400">Are you sure you want to delete this publication?</p>
        </div>
    </div>
    <div class='modal-footer blue-grey lighten-2'>
        <div class='row no-margin-bottom'>
            <div class="col s6">
                <a class=' right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text'>
                    <i class=' material-icons publication-schema-button-icon right white-text'>close</i>cancel</a>
            </div>
            <div class="col s6">
                <a ng-click="deletePublication()" class='{{publicationAddingEnabled}} right waves-effect waves-light remove-shadow btn red darken-1 white-text'>
                    <i class="material-icons right">delete_forever</i>Delete this publication</a>
            </div>
        </div>
    </div>
</div>
<div id='verifyPublicationModalMetadata' class='modal modal-fixed-footer'>
    <div class='modal-content'>
        <div class="row">
            <p class="card-text-blue flow-text" style="font-weight: 400">Are you sure you want to accept this publication? Remember, you could always delete or modify it later!</p>
        </div>
    </div>
    <div class='modal-footer blue-grey lighten-2'>
        <div class='row no-margin-bottom'>
            <div class="col s6">
                <a class='right waves-effect waves-light remove-shadow btn modal-action modal-close publication-schema-button blue-grey white-text'>
                    <i class=' material-icons publication-schema-button-icon right white-text'>close</i>cancel</a>
            </div>
            <div class="col s6">
                <a ng-click="verifyPublication()" class='right waves-effect waves-light remove-shadow btn blue-grey white-text'>
                    <i class="material-icons right">check_circle</i>  verify this publication</a>
            </div>
        </div>
    </div>
</div>

